@model Monit95App.Models.WishModel

@{
    ViewBag.Title = "Пожелания";
}

<h2>Пожелания</h2>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.TextAreaFor(model => model.Message, 6, 0, new { @class="form-control", @style="max-width:80%;", @placeholder="Введите свое пожелание здесь..." })
            @Html.ValidationMessageFor(model => model.Message, "Поле пожеланий пусто", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div style="text-align:right;margin-right:20%">
                <input type="submit" value="Отправить" class="btn btn-default" />
            </div>
        </div>
    </div>
}
