<body>
    <h4>3 класс, русский язык</h4>
    <p><a href="~/Files/РУ_3_кл_Памятка_учителю.docx">РУ_3_кл_Памятка_учителю</a></p>
    <p>
        @if (DateTime.Now >= new DateTime(2016, 4, 26, 8, 0, 0))
        {
            <a href="~/Files/РУ_3_кл_Работы.zip">РУ_3_кл_Работы</a>
        }
        else {
            <text>РУ_3_кл_Работы</text><em> *будут доступны 26 апреля, 08:00</em>
        }
    </p>
    <p>
        @if (DateTime.Now >= new DateTime(2016, 4, 26, 15, 0, 0))
        {
            <a href="~/Files/РУ_3_кл_Ключи.doc">РУ_3_кл_Ключи</a>
        }
        else {
            <text>РУ_3_кл_Ключи</text><em> *будут доступны 26 апреля, 15:00</em>
        }
    </p>
    <hr />
    <h4>3 класс, математика</h4>
    <p><a href="~/Files/МА_3_кл_Памятка_учителю.docx">МА_3_кл_Памятка_учителю</a></p>
    <p>
        @if (DateTime.Now >= new DateTime(2016, 4, 28, 8, 0, 0))
        {
            <a href="~/Files/МА_3_кл_Работы.zip">МА_3_кл_Работы</a>
        }
        else {
            <text>МА_3_кл_Работы</text><em> *будут доступны 28 апреля, 08:00</em>
        }
    </p>
    <p>
        @if (DateTime.Now >= new DateTime(2016, 4, 28, 15, 0, 0))
        {
            <a href="~/Files/МА_3_кл_Ключи.doc">МА_3_кл_Ключи</a>
        }
        else {
            <text>МА_3_кл_Ключи</text><em> *будут доступны 28 апреля, 15:00</em>
        }
    </p>
    <hr />
    <h4>3 класс, общее</h4>
    <p><a href="~/Files/3_кл_Рекомендации по проведению.docx">3_кл_Рекомендации по проведению</a></p>
    <div class="class1">
        <p><a href="~/Files/3_кл_Формы для внес. результатов.xlsx">Формы для внесения результатов</a></p>
        @using (Html.BeginForm("UploadFor3Class", "Work201615", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="upload" /><br>
            <input type="submit" value="Загрузить" />
        }
    </div>
</body>