@model Monit95App.ViewModels.Work201615.SelectVM
@{
    ViewBag.Title = "Select";
    //Layout = "~/Views/Shared/_LayoutClasses.cshtml";
}

<head>

</head>
<body>

    @*<input type="button" id="btn" value="Click Me!" />
    <br /><br />
    <input type="button" id="target" value="ENABLE" />*@

    <h3>Итоговые работы в 1, 2 и 3 классах</h3>    
    <ul class="nav nav-tabs" id="myTabs">
        <li>@Ajax.ActionLink(" 1 класс", "Class1", "Work201615", new AjaxOptions { UpdateTargetId = "tabContent" }, new { @data_target = "#tabContent", @data_toggle = "tab", @class = "btn btn-default glyphicon glyphicon-" + Model.class1icon })</li>
        <li>@Ajax.ActionLink(" 2 класс", "Class2", "Work201615", new AjaxOptions { UpdateTargetId = "tabContent" }, new { @data_target = "#tabContent", @data_toggle = "tab", @class = "btn btn-default glyphicon glyphicon-" + Model.class2icon })</li>
        <li>@Ajax.ActionLink(" 3 класс", "Class3", "Work201615", new AjaxOptions { UpdateTargetId = "tabContent" }, new { @data_target = "#tabContent", @data_toggle = "tab", @class = "btn btn-default glyphicon glyphicon-" + Model.class3icon })</li>                        
    </ul>
    <div id="tabContent">
    @*    @Html.Partial("~/Views/Work201615/_PartialClass1.cshtml")*@
    </div>

    <script type="text/jscript">             
        $(function () {
            $('#myTabs a').click(function (e) {
                e.preventDefault();
                console.log('yes');
                $(this).tab('show')
            });

            var lastTab = localStorage.getItem('lastTab');

            // load content with ajax before show selected tab
            $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
                var url = $(this).attr('href');
                var target = $(this).data('target');
                $.ajax({
                    url: url,
                    success: function (result) {
                        $(target).html(result);
                    }
                })
            })

            // for bootstrap 3 use 'shown.bs.tab', for bootstrap 2 use 'shown' in the next line
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                // save the latest tab; use cookies if you like 'em better:
                localStorage.setItem('lastTab', $(this).attr('href'));
            });

            // go to the latest tab, if it exists:

            if (lastTab) {
                $('[href="' + lastTab + '"]').tab('show');
            } else {
                lastTab = $('#myTabs a:first').attr('href');
                $('[href="' + lastTab + '"]').tab('show');
            }


            //
            $("#btn").click(function () {
                if ($("#target").hasClass("disabled")) {
                    $("#target").removeClass("disabled");
                } else {
                    $("#target").addClass("disabled");
                }
            });
            //
        });
        //

        //$('.tbs').on('click', function () {
        //    console.log('www');
        //    var info = $(this).data('info');
        //    switch (info) {
        //        case 'class1':
        //            $('#tabContent').load("/Work201615/Class1"); //Controller method which returns partial view
        //            break;
        //        case 'class2':
        //            $('#tabContent').load("/Work201615/Class2"); //Controller method which returns partial view
        //            break;
        //        case 'class3':
        //            $('#tabContent').load("/Work201615/Class3"); //Controller method which returns partial view
        //            break;
        //        default: break;
        //    }
        //});

    </script>            
</body>

