<div>
    <h2>{{particip.Surname}} {{particip.Name}} {{particip.SecondName}}</h2>
    <hr />
    <form #marksForm="ngForm">
        <div class="center-block">
            <div class="form-group" *ngFor="let mark of maxMarks; let i = index">
                <label class="form-inline">
                    Ответ №{{mark.Name}}
                </label>
                <input type="text" size="1" class="form-control" [(ngModel)]="marksArray[i]" name="{{mark.Name}}mark" #{{mark.Name}}mark="ngModel" required />
                <div [hidden]="{{mark.Name}}mark.valid || {{mark.Name}}mark.pristine"
                     class="alert alert-danger">
                    Больше максимального значения за это задание
                </div>
            </div>
            <hr />
            <div class="pull-right">
                <span style="color:red">{{statusText}}</span>
                <button type="button" class="btn btn-success" [disabled]="marksForm.invalid" (click)="save(false)">Сохранить</button>
                <button type="button" class="btn btn-default" (click)="cancel()">Отменить</button>
            </div>
        </div>
    </form>
</div>