
<body>
    <h4>1 класс, комплексная работа</h4>
    <p><a href="~/Files/КР_1_кл_Памятка_учителю.docx">КР_1_кл_Памятка_учителю</a></p>
    <p>
        @if (DateTime.Now >= new DateTime(2016, 4, 27, 8, 0, 0))
        {
            <a href="~/Files/КР_1_кл_Работы.zip">КР_1_кл_Работы</a>
        }
        else {
            <text>КР_1_кл_Работы</text><em> *будут доступны 27 апреля, 08:00</em>
        }
    </p>
    <p>
        @if (DateTime.Now >= new DateTime(2016, 4, 27, 13, 0, 0))
        {
            <a href="~/Files/КР_1_кл_Ключи.doc">КР_1_кл_Ключи</a>
        }
        else {
            <text>КР_1_кл_Ключи</text><em> *будут доступны 27 апреля, 13:00</em>
        }
    </p>    
     <p><a href="~/Files/1_кл_Рекомендации по проведению.docx">1_кл_Рекомендации по проведению</a></p>
    <div class="class1">
        <p><a href="~/Files/1_кл_Формы для внес. результатов.xlsx">Формы для внесения результатов</a></p>
        @using (Html.BeginForm("UploadFor1class", "Work201615", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="upload" /><br>
            <input type="submit" value="Загрузить" />
        }
    </div>
</body>
