<h2>РСУР</h2>
<h3>Главное меню</h3>
<div class="panel panel-default">
    <div *ngIf="isArea()" class="panel-body">
        <p>Участники</p>
        <ul class="list-group">
            <li class="list-group-item"><a routerLink="/rsur/particips">Список участников</a></li>                        
        </ul>
    </div>

    <div class="panel-body">
        <p>Демо-версии</p>
        <ul class="list-group">
            <li class="list-group-item"><a target="_blank" href="https://cloud.mail.ru/public/E6sR/WAFY5mpEu">Спецификации КИМ</a></li>            
            <li class="list-group-item"><a target="_blank" href="https://cloud.mail.ru/public/H1cj/bQbLoHicw">Демо-версии КИМ</a></li>            
        </ul>
    </div>  
    
    <div *ngIf="account.UserName == '209' || account.UserName == '210' || account.UserName == '216'" class="panel-body">
        <p>Диагностики</p>
        <ul class="list-group">
            <li class="list-group-item"><a routerLink="/rsur/test">«Октябрь-2017»</a></li>           
        </ul>
    </div>      

    <div *ngIf="isRsurParticip()" class="panel-body">
        <ul class="list-group">
            <li class="list-group-item"><a routerLink="/rsur/report/{{account.UserName}}">Результаты диагностики</a></li>
        </ul>
    </div>

    <div *ngIf="isArea() || isSchool()" class="panel-body">
        <p>Отчеты</p>
        <ul class="list-group">
            <li class="list-group-item"><a routerLink="/rsur/results-list">Результаты диагностики «Октябрь-2017» {{test}}</a></li>
        </ul>
    </div>
</div>