<h2>РСУР</h2>
<h3>Меню</h3>
<div class="panel panel-default">
    <div class="panel-body">
        <p>Участники</p>
        <ul class="list-group">
            <li class="list-group-item"><a routerLink="/rsur/particips">Список участников</a></li>                        
        </ul>
    </div>

    <div class="panel-body">
        <p>Демо-версии</p>
        <ul class="list-group">
            <li class="list-group-item"><a href="https://cloud.mail.ru/public/E6sR/WAFY5mpEu">Спецификации КИМ</a></li>            
            <li class="list-group-item"><a href="https://cloud.mail.ru/public/H1cj/bQbLoHicw">Демо-версии КИМ</a></li>            
        </ul>
    </div>  
    
    <div class="panel-body">
        <p>Диагностика</p>
        <ul class="list-group">
            <li class="list-group-item"><a href="">КИМ. Русский язык</a></li>
            <li class="list-group-item"><a href="">КИМ. Математика</a></li>
            <li class="list-group-item"><a href="">КИМ. История</a></li>
            <li class="list-group-item"><a href="">Ключи. Русский язык</a></li>
            <li class="list-group-item"><a href="">Ключи. Математика</a></li>
            <li class="list-group-item"><a href="">Ключи. История</a></li>
            <li class="list-group-item"><a routerLink="rsur/marks/1">Русский язык. Протокол проверки заданий</a></li>
            <li class="list-group-item"><a routerLink="rsur/marks/2">Математика. Протокол проверки заданий</a></li>
            <li class="list-group-item"><a routerLink="rsur/marks/7">История. Протокол проверки заданий</a></li>
        </ul>
    </div>  

</div>