<h2>Протоколы</h2>
<hr />
<div *ngIf="participProtocols">
    <table class="table table-bordered">
        <tr>
            <th class="cell-center">#</th>
            <th class="cell-center">Код участника</th>
            <th class="cell-center">Наименование блока</th>
            <th>Имя файла</th>
            <th>Баллы по заданиям</th>
        </tr>
        <tr *ngFor="let protocol of participProtocols; let i = index">
            <td class="cell-center">{{i + 1}}</td>
            <td class="cell-center">{{protocol.ParticipCode}}</td>
            <td>{{protocol.TestName}}</td>
            <td>{{protocol.SourceFileName}}</td>
            <td>{{protocol.Marks}}</td>
            <td *ngIf="protocol.Marks"><a (click)="deleteResult(protocol)" class="glyphicon glyphicon-trash" style="cursor:pointer"></a></td>
        </tr>
    </table>
</div>
<div *ngIf="!participProtocols">
    <img style="margin-top:20px" height="100" class="center-block" src="/progress.gif" />
</div>