<h2>Загрузка сканов</h2>
<hr />
<div class="actions-bar">
    <div class="search-field">
        <mat-form-field>
            <input [(ngModel)]="searchText" placeholder="Поиск..." matInput />
        </mat-form-field>
    </div>

    <a style="z-index:1" class="fileUploader" mat-raised-button [disabled]="isScansUploading">
        <input style="z-index:1; cursor:pointer" type="file" accept=".png, .jpg, .jpeg, .tif, .tiff" title="Отправить..." (change)="addPhoto($event)" multiple [disabled]="isScansUploading" />
        <span style="z-index:0" class="glyphicon glyphicon-upload"></span> Отправить...
    </a>
</div>
<div *ngIf="scans.length != 0 && !isPageLoading">
    <hr />
    <div>
        <table class="table table-bordered">
            <tr>
                <th class="centered-mini-cell">№ п/п</th>
                <th style="text-align:center">Наименование файла</th>
                <th>Код участника</th>
                <th>Блок</th>
                <th>Баллы по заданиям</th>
                <th>Действия</th>
            </tr>
            <tr *ngFor="let answerSheet of answerSheets | filter : {'SourceName' : searchText }; let i = index">
                <td class="centered-mini-cell">{{i + 1}}</td>
                <td>{{answerSheet.SourceName}}</td>
                <td>{{answerSheet.ParticipCode}}</td>
                <td>{{answerSheet.TestName}}</td>
                <td>{{answerSheet.Marks}}</td>
                <td>
                    <a *ngIf="scan.FileId" [routerLink]="['/rsur/match-protocol', scan.FileId]"><img style="width: 20px" src="https://png.icons8.com/ocr/win8/50/000000"></a>
                    <!--<a *ngIf="scan.Status === 'isFailed'" class="glyphicon glyphicon-repeat" (click)="reuploadScan(scan)" style="cursor:pointer"></a>-->
                    <!--<a *ngIf="scan.Status !== 'isDeleting'" class="glyphicon glyphicon-trash" style="cursor:pointer" (click)="deleteScan(scan)"></a>-->
                    <!--<i *ngIf="scan.Status === 'isDeleting'" class="fa fa-spinner swirl-spinner" aria-hidden="true"></i>-->
                    <!--<mat-progress-bar [value]="scan.UploadProgress"></mat-progress-bar>-->
                </td>
            </tr>
        </table>
    </div>
</div>

<div *ngIf="isPageLoading">
    <img style="margin-top:20px" height="100" class="center-block" src="/progress.gif" />
</div>