<div style="width:100%" class="container">
    <h3>{{participFullName}}</h3>
    <br/>
    <div>
        <div class="checkbox">
            <label for="isAbsentCheckbox">
                <input id="isAbsentCheckbox" type="checkbox" ng-model="isAbsent" ng-click="setAbsentMarks()" />
                Отсутствовал
            </label>
        </div>
        <form ng-submit="save()">
            <table class="table table-bordered">                
                <tr>
                    <th style="width: 100px" align="right">Номер задания</th>
                    <th style="width: 100px">Балл</th>
                </tr>
                <tr ng-repeat="exercise in exercises">
                    <td>{{exercise.Name}}</td>
                    <td><input style="width: 100px" ng-change="checkAndNext($index)" class="form-control input-sm" size="1" ng-model="marksArray[$index]" ng-disabled="isAbsent" required/></td>
                </tr>
            </table>
            <hr/>
            <div style="text-align:right">
                <input type="submit" class="btn btn-success" href="" value="Сохранить" />
                <a class="btn btn-default btn-in-horizon" href="" ng-click="cancel()">Отменить</a>
            </div>
        </form>
        <br/>
    </div>
</div>