<h2>Файлы</h2>
<hr />
<div *ngIf="isLoading"><img style="margin-top:20px" height="100" class="center-block" src="/progress.gif" /></div>
<div *ngIf="!isLoading && files.length > 0">
    <br />
    <table class="table table-striped table-bordered table-hover">
        <tr>            
            <th style="text-align:center">Проект</th>
            <th style="text-align:center">Файл</th>
            <th style="text-align:center">Учебный год</th>
        </tr>
        <tr *ngFor="let item of files">                        
            <td>{{item.ProjectName}}</td>
            <td><a target="_blank" href="{{item.Link}}">{{item.Name}}</a></td>
            <td>{{item.Year}}</td>                               
        </tr>
    </table>
</div>