<h2>Файлы</h2>
<hr />
<!--<div *ngIf="isLoading"><img style="margin-top:20px" height="100" class="center-block" src="/progress.gif" /></div>
<div *ngIf="!isLoading && files.length > 0">
    <br />
    <table class="table table-striped table-bordered table-hover">
        <tr>            
            <th style="text-align:center">Проект</th>
            <th style="text-align:center">Файл</th>
            <th style="text-align:center">Учебный год</th>
        </tr>
        <tr *ngFor="let item of files">                        
            <td>{{item.ProjectName}}</td>
            <td><a target="_blank" href="{{item.Link}}">{{item.Name}}</a></td>
            <td>{{item.Year}}</td>                               
        </tr>
    </table>
</div>-->

<div *ngIf="dataSource !== null" class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> Проект </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.ProjectName}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Файл </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Name}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef> Учебный год </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Year}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>


