<h2>РСУР</h2>
<h3>{{testNumberCodeWithName}}. Протокол проверки заданий</h3>
<hr />
<div *ngIf="isLoading">Загрузка...</div>
<div style="width:750px; margin-right:auto" *ngIf="!isLoading">
    <div style="display:flex;flex-direction:row">
        <div id="searchInput" class="form-group has-feedback">
            <input type="text" [(ngModel)]="searchText" (keyup)="onSearchTextChange()" class="form-control" placeholder="Поиск участника по коду..." />
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <div *ngIf="participsWithoutMarks!==0" style="margin-top:6px; color: red; margin-left:15px"><b>Осталось: {{participsWithoutMarks}}</b></div>
        <div *ngIf="participsWithoutMarks===0" style="margin-top:6px; margin-left:15px; color:green"><b>Протокол заполнен!</b></div>
    </div>
    <br />
    <table class="table table-striped table-bordered">
        <tr>
            <th width="60px">№ п/п</th>
            <th style="width:150px; text-align:center">Код участника</th>
            <th style="text-align:center">Баллы по заданиям</th>
            <th width="1">Изменить</th>
        </tr>
        <tr *ngFor="let particip of rsurParticips | rsurParticipFilter : searchText; let i = index">
            <td align="center">{{i+1}}</td>
            <td align="center">{{particip.Code}}</td>
            <td [ngClass]="{'red': !particip.Marks}">{{particip.Marks}}</td>
            <td align="center"><a style="cursor:pointer" class="glyphicon glyphicon-edit" (click)="changeMarks(particip.ParticipTestId)"></a></td>
        </tr>
    </table>
</div>