<h2>РСУР: Список участников</h2>
<hr />
<div *ngIf="isArea()" class="form-inline">
    <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="поиск..." />
    <div style="margin-left:15px" class="checkbox">
        <label>
            <input type="checkbox" [(ngModel)]="isShowNotActual"> выбывшие
        </label>
    </div>
</div>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">Код</th>
            <th class="text-center">Фамилия</th>
            <th class="text-center">Имя</th>
            <th class="text-center">Отчеcтво</th>
            <th class="text-center">Предмет</th>
            <th *ngIf="isArea()" class="text-center">Школа</th>
            <th *ngIf="isArea()" class="text-center">Статус</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let particip of particips | rsurParticipFilter : isShowNotActual | rsurParticipFilter : searchText | limitTo: 100" [ngClass]="{'notActual' : particip.ActualCode === 0}">
            <td class="text-center" style="vertical-align:middle">{{particip.Code}}</td>
            <td style="vertical-align:middle">{{particip.Surname}}</td>
            <td style="vertical-align:middle">{{particip.Name}}</td>
            <td style="vertical-align:middle">{{particip.SecondName}}</td>
            <td style="vertical-align:middle">{{particip.RsurSubjectName}}</td>
            <td *ngIf="isArea()" style="vertical-align:middle">{{particip.SchoolIdWithName}}</td>
            <td *ngIf="isArea()" style="vertical-align:middle">
                <span *ngIf="particip.ActualCode === 1" class="text-center">актуально</span>
                <span *ngIf="particip.ActualCode === 0" class="text-center">выбыл</span>
            </td>
        </tr>
    </tbody>
</table>
