<h2>РСУР: Список участников</h2>
<p *ngIf="isLoading" style="position:absolute; top:50%; left:50%">
    <mat-spinner></mat-spinner>
</p>
    <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" matSort>

            <!-- Position Column -->
            <ng-container matColumnDef="Code">
                <mat-header-cell *matHeaderCellDef mat-sort-header> код участника </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.Code}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Surname">
                <mat-header-cell *matHeaderCellDef mat-sort-header> фамилия </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.Surname}} </mat-cell>
            </ng-container>

            <!--<ng-container matColumnDef="weight">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Weight </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="symbol">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
            </ng-container>-->

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>


<!--<hr />
<div *ngIf="isArea()" class="form-inline">
    <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="поиск..." />
    <div style="margin-left:15px" class="checkbox">
        <label>
            <input type="checkbox" [(ngModel)]="isShowNotActual"> + показывать выбывших из базы
        </label>
    </div>
</div>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">Код</th>
            <th class="text-center">Фамилия</th>
            <th class="text-center">Имя</th>
            <th class="text-center">Отчеcтво</th>
            <th class="text-center">Предмет</th>
            <th *ngIf="isArea()" class="text-center">Школа</th>
            <th *ngIf="isArea()" class="text-center">Статус</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let particip of particips | rsurParticipActualFilter: isShowNotActual | rsurParticipFilter: searchText | limitTo: 100" [ngClass]="{'notActual' : particip.ActualCode === 0}">
            <td class="text-center" style="vertical-align:middle">{{particip.Code}}</td>
            <td style="vertical-align:middle">{{particip.Surname}}</td>
            <td style="vertical-align:middle">{{particip.Name}}</td>
            <td style="vertical-align:middle">{{particip.SecondName}}</td>
            <td style="vertical-align:middle">{{particip.RsurSubjectName}}</td>
            <td *ngIf="isArea()" style="vertical-align:middle">{{particip.SchoolIdWithName}}</td>
            <td *ngIf="isArea()" style="vertical-align:middle">
                <span *ngIf="particip.ActualCode === 1" class="text-center">актуально</span>
                <span *ngIf="particip.ActualCode === 0" class="text-center">выбыл</span>
            </td>
        </tr>
    </tbody>
</table>-->
