.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
    color: black;
}

.table tr.red {
    background-color: red;
}

.table tr.yellow {
    background-color: yellow;
}

.table tr.active td {
    background-color:#123456 !important;
    color: white;
}

.notActual {
    color: lightslategray;
}