.table-container{
    margin: 15px 0;
}

.content-center {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.pass-color{
    color: green;
}

.fail-color{
    color: red;
}

.no-participate-color{
    color: orange;
}

.notActual {
    background-color: lightgray;
}