@{
    ViewBag.Title = "About";    
}
<body ng-app="nsurApp2">
    <h3>О сервисе</h3>
    <p>
        Информационная система (ИС) «Мониторинг образования региона» служит для мониторинга образовательных достижений
        образовательных организаций Чеченской Республики. ИС позволяет формировать аналитическую отчетность на основе
        диагностик, аудитов, оценок, главным образом проводимых <a href="http://coko95.ru">республиканским Центром оценки качества образования.</a>
    </p>
    <br />
    <h4>Цели и задачи ИС</h4>
    <ul>
        <li>комплексная автоматизация сбора показателей проводимых мониторингов</li>
        <li>консолидация данных на уровне образовательной организации (ОО) и формирование необходимой статистической отчетности по ОО</li>
        <li>консолидация данных на муниципальном уровне</li>
        <li>консолидация данных на уровне региона</li>
        <li>построения единого хранилища статистических и качественных показателей</li>
        <li>оперативное формирование по запросам аналитических отчетов по накопленным данным</li>
    </ul>
</body>
