@{
    ViewBag.Title = "Мониторинг образования региона";
}

<div class="">
    <h2>Мониторинг образования региона</h2>
    <div class="pic">
        <img src="~/Images/new_back2.png" />
    </div>    
</div>

<script type="text/javascript">

    imageDir = "http://mvcreative.ru/example/6/2/snow/";
    sflakesMax = 65;
    sflakesMaxActive = 65;
    svMaxX = 2;
    svMaxY = 6;
    ssnowStick = 1;
    ssnowCollect = 0;
    sfollowMouse = 1;
    sflakeBottom = 0;
    susePNG = 1;
    sflakeTypes = 5;
    sflakeWidth = 15;
    sflakeHeight = 15;
</script>
<script type="text/javascript" src="http://mvcreative.ru/example/6/2/snow.js"></script>