<script>    
    var ParticipApp = angular.module('ParticipApp', []);
    ParticipApp.controller('ParticipController', function ($scope, ParticipService) {
        GetAllParticips();
        $scope.download01 = function download01(participId, schoolId) {
            var win = window.open('https://cloud.mail.ru/public/GhWx/bn9GnxmXg/' + schoolId + '/201656/' + participId + '.pdf', '_blank');
            win.focus();
        }
        $scope.download02 = function download02(participId, schoolId) {
            var win = window.open('https://cloud.mail.ru/public/GhWx/bn9GnxmXg/' + schoolId + '/201657/' + participId + '.pdf', '_blank');
            win.focus();
        }
        function GetAllParticips() {
            ParticipService.GetAllParticips(1)
                .success(function (data) {
                    $scope.particips01 = data;
                })
                .error(function (error) {
                    $scope.status = 'Unable to load customer data: ' + error.message;
                    console.log($scope.status);
                });
            ParticipService.GetAllParticips(2)
                .success(function (data) {
                    $scope.particips02 = data;
                })
                .error(function (error) {
                    $scope.status = 'Unable to load customer data: ' + error.message;
                    console.log($scope.status);
                });
        }
    });

    ParticipApp.factory('ParticipService', ['$http', function ($http) {
        var ParticipService = {};
        ParticipService.GetAllParticips = function (subjectCode) {
            return $http.get('/Home/GetAllParticips?subjectCode=' + subjectCode);
        };
        return ParticipService;
    }]);
</script>
<br />
<div class="well-sm">
    <a href="https://cloud.mail.ru/public/3QBw/9gesdCLrA">Ранжированные списки заданий КИМ ОГЭ-2016</a>
</div>
<div class="well-sm">
    <a href="https://cloud.mail.ru/public/Lt4D/QTyxoFj1q">Видео-инструкция по работе с сайтом www.sdamgia.ru</a>
</div>
<div id="tabs" class="well-sm">
    <ul>
        <li><a href="#tabs-1">Русский язык</a></li>
        <li><a href="#tabs-2">Математика</a></li>
    </ul>
    <div ng-app="ParticipApp" ng-controller="ParticipController">
        <div id="tabs-1">
            <div class="container-fluid">
                Поиск по фамилии: <input ng-model="search01.Learner.Surname" />
                <br />
                <table id="table_id" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th hidden="hidden">Id</th>
                            <th></th>
                            <th>Фамилия</th>
                            <th>Name</th>
                            <th>Отчество</th>
                            <th>Район</th>
                            <th>Школа</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in particips01 | filter: search01 | limitTo:165 | orderBy">
                            <td style="display:none">{{item.Id}}</td>
                            <td>
                                <button class="btn btn-sm btn-success" ng-click="download01(item.Id, item.SchoolId);">
                                    <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> скачать
                                </button>
                            </td>
                            <td style="font-size: small">{{item.Learner.Surname}}</td>
                            <td style="font-size: small">{{item.Learner.Name}}</td>
                            <td style="font-size: small">{{item.Learner.SecondName}}</td>
                            <td style="font-size: small">{{item.AreaIdWithName}}</td>
                            <td style="font-size: small">{{item.SchoolIdWithName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>        
        <div id="tabs-2">
            <div class="container-fluid">
                Поиск по фамилии: <input ng-model="search02.Learner.Surname" />
                <br />
                <table id="table_id" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th hidden="hidden">Id</th>
                            <th></th>
                            <th>Фамилия</th>
                            <th>Name</th>
                            <th>Отчество</th>
                            <th>Район</th>
                            <th>Школа</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in particips02 | filter: search02 | limitTo:165 | orderBy">
                            <td style="display:none">{{item.Id}}</td>
                            <td>
                                <button class="btn btn-sm btn-success" ng-click="download02(item.Id, item.SchoolId);">
                                    <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> скачать
                                </button>
                            </td>
                            <td style="font-size: small">{{item.Learner.Surname}}</td>
                            <td style="font-size: small">{{item.Learner.Name}}</td>
                            <td style="font-size: small">{{item.Learner.SecondName}}</td>
                            <td style="font-size: small">{{item.AreaIdWithName}}</td>
                            <td style="font-size: small">{{item.SchoolIdWithName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>                    

<script>
    $(document).ready(function () {
        $("#tabs").tabs();        
    });

    function openInNewTab(url) { 
        var win = window.open(url, '_blank');
        win.focus();
    }
    
</script>
