<h3>РСУР: Протоколы проверки заданий</h3>
<hr />
<ng-template [ngIf]="questionProtocols">
    <div>общее количество протоколов: {{questionProtocols.length}}</div>
    <div>из них</div>
    <div>обработано: {{processedProtocols()}}</div>
    <div>не обработано: {{notProcessedProtocols()}}</div>
    <div class="search-field">
        <mat-form-field>
            <input #participCodeInput [(ngModel)]="searchText" maxlength="5" placeholder="Поиск по коду участника..." matInput />
            <i class="glyphicon glyphicon-ok" matSuffix style="color:green" *ngIf="checkIfOnlyOneMatch(searchText)"></i>
        </mat-form-field>
    </div>

    <table class="table table-bordered">
        <tr>
            <th class="row-number-cell">№ п/п</th>
            <th class="particip-code-cell">Код участника</th>
            <th>Блок</th>
            <th>Баллы по заданиям</th>
            <th style="width:273px">Действия</th>
        </tr>
        <tr *ngFor="let protocol of questionProtocols | rsurProtocolFilter : searchText | limitTo : 75; let i = index">
            <td class="row-number-cell">{{i + 1}}</td>
            <td class="particip-code-cell">{{protocol.ParticipCode}}</td>
            <td>{{protocol.TestName}}</td>
            <td [ngClass]="{'red': !protocol.RsurQuestionValues}">{{protocol.RsurQuestionValues}}</td>
            <td>
                <div class="pull-left">
                    <button mat-raised-button color="primary" (click)="changeMarks(protocol.ParticipCode)"><i class="glyphicon glyphicon-edit"></i> изменить</button>
                    <button matTooltip="Указать, что участник отсутствовал" [matTooltipPosition]="'right'" *ngIf="protocol.RsurQuestionValues !== 'отсутствовал'" mat-raised-button color="warn" (click)="markAsAbsent(protocol)">
                        <i class="glyphicon glyphicon-header"></i> отсутствовал
                    </button>
                </div>
            </td>
        </tr>
    </table>
</ng-template>
<button type="button" (click)="showHistory()">show history</button><!--delete this-->
<div *ngIf="!questionProtocols">
    <img style="margin-top:20px" height="100" class="center-block" src="/progress.gif" />
</div>