<form [formGroup]="participForm" (ngSubmit)="submitForm()">
    <mat-form-field>
        <input #surname matInput placeholder="фамилия" formControlName="surname" />
        <mat-error *ngIf="surname.invalid && (surname.dirty || surname.touched)">
            <div *ngIf="surname.errors.required">введите фамилию</div>
            <div *ngIf="surname.errors.minlength">фамилия должна содержать хотя бы 3 символа</div>
            <div *ngIf="name.errors.maxlength">фамилия должна содержать не больше 25 символов</div>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="имя" formControlName="name" />
        <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.errors.required">введите имя</div>
            <div *ngIf="name.errors.minlength">имя должно содержать хотя бы 2 символа</div>
            <div *ngIf="name.errors.maxlength">имя должно содержать не больше 25 символов</div>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="отчество" formControlName="secondName" />
        <mat-error *ngIf="secondName.invalid && (secondName.dirty || secondName.touched)">
            <div *ngIf="secondName.errors.minlength">отчество должно содержать хотя бы 5 символа</div>
            <div *ngIf="name.errors.maxlength">отчество должно содержать не больше 25 символов</div>
        </mat-error>
    </mat-form-field>

    <div class="birthday-wrapper" formGroupName="birthday">
        <mat-form-field class="birthday-day">
            <mat-select placeholder="день" formControlName="day">
                <mat-option *ngFor="let day of monthDays" [value]="day">{{ day }}</mat-option>
            </mat-select>
            <mat-error *ngIf="birthday.day.invalid && (birthday.day.dirty || birthday.day.touched)">
                <div *ngIf="birthday.day.errors.required">выберите день</div>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="birthday-month">
            <mat-select placeholder="месяц" formControlName="month">
                <mat-option *ngFor="let month of months" [value]="month.index">{{ month.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="birthday.month.invalid && (birthday.month.dirty || birthday.month.touched)">
                <div *ngIf="birthday.month.errors.required">выберите месяц</div>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="birthday-year">
            <mat-select placeholder="год" formControlName="year">
                <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
            </mat-select>
            <mat-error *ngIf="birthday.year.invalid && (birthday.year.dirty || birthday.year.touched)">
                <div *ngIf="birthday.year.errors.required">выберите год</div>
            </mat-error>
        </mat-form-field>
    </div>

    <mat-form-field>
        <mat-select placeholder="предмет" formControlName="subjectCode">
            <mat-option *ngFor="let subject of subjects" [value]="subject.code">{{ subject.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="subjectCode.invalid && (subjectCode.dirty || subjectCode.touched)">
            <div *ngIf="subjectCode.errors.required">выберите предмет</div>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="категория" formControlName="categoryId">
            <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="categoryId.invalid && (categoryId.dirty || categoryId.touched)">
            <div *ngIf="categoryId.errors.required">выберите категорию</div>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="number" placeholder="стаж работы" formControlName="experience" />
        <mat-error *ngIf="experience.invalid && (experience.dirty || experience.touched)">
            <div *ngIf="surname.errors.required">укажите стаж работы</div>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" placeholder="номер телефона (необязательно)" formControlName="phone" />
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" [placeholder]="'E-mail (необязательно)'" formControlName="email" />
    </mat-form-field>

    <div class="form-buttons">
        <button mat-raised-button color="primary" type="submit">отправить</button>
        <button mat-raised-button color="warn" type="button" (click)="cancel()">отменить</button>
    </div>
</form>