.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.mat-column-Year{
    max-width: 130px;
}

.mat-column-Status{
    max-width: 230px;
}