<div *ngIf="isLoading"><img style="margin-top:20px" height="100" class="center-block" src="/progress.gif" /></div>
<div *ngIf="!isLoading">
    <h2>РСУР: Главное меню</h2>

    <div *ngIf="isArea()" class="list-container">
        <h3 class="list-header">Диагностика «Декабрь-2017»</h3>
        <div>
            <a class="list-item-link" target="_blank" href="https://cloud.mail.ru/public/GhWx/bn9GnxmXg/{{account.UserName}}/ма_122017_распределение_{{account.UserName}}.xlsx"><div><h4>Математика: распределение</h4></div></a>
            <a *ngIf="true" class="list-item-link" target="_blank" href="https://cloud.mail.ru/public/Bkir/UDxhYwCGF"><div><h4>Математика: варианты ИК по блоку «АЛГЕБРА»</h4></div></a>
            <a *ngIf="true" target="_blank" class="list-item-link" href="https://cloud.mail.ru/public/FkzK/YA75rNK2v"><div><h4>Математика: варианты ИК по блоку «ГЕОМЕТРИЯ»</h4></div></a>
            <a *ngIf="account.UserName !== '203' && account.UserName !== '207' && account.UserName !== '214'" target="_blank" class="list-item-link" href="https://cloud.mail.ru/public/A8zy/K8jRWQyE5"><div><h4>Математика: варианты ИК по блоку «ФУНКЦИИ. МАТАНАЛИЗ...»</h4></div></a>

            <!--Ключи-->
            <a *ngIf="true" class="list-item-link" target="_blank" href="https://cloud.mail.ru/public/DSMG/cWygByEdR"><div>
                <h4><b>Математика: КЛЮЧИ для проверки работ по блоку «АЛГЕБРА»</b></h4></div>
            </a>
            <a *ngIf="true" target="_blank" class="list-item-link" href="https://cloud.mail.ru/public/73ZE/kK3kQP8Ur"><div>
                <h4><b>Математика: КЛЮЧИ для проверки работ по блоку «ГЕОМЕТРИЯ»</b></h4></div>
            </a>
            <a *ngIf="account.UserName !== '203' && account.UserName !== '207' && account.UserName !== '214'" target="_blank" class="list-item-link" href="https://cloud.mail.ru/public/GdU6/2mgSy2zHc"><div>
                <h4><b>Математика: КЛЮЧИ для проверки работ по блоку «ФУНКЦИИ. МАТАНАЛИЗ...»</b></h4></div>
            </a>            
            <!--Протоколы-->                                    
        </div>
        <div *ngIf="true" class="list-item">
            <a class="list-item-link" [routerLink]="['/rsur/question-protocols']">
                <div>
                    <h4><b>Математика: протоколы проверки заданий</b></h4>
                </div>
                <span class="progressbar-item"><ngb-progressbar [showValue]="true" type="info" [value]="fillingProgress()"></ngb-progressbar></span>
            </a>
            <ng-template #area208>
                <a *ngIf="false" class="list-item-link" href="#"><div><h4>История: Бланки ответов</h4></div></a>
            </ng-template>
        </div>
    </div>    

    <div *ngIf="isArea() || isSchool()" class="list-container">
        <h3 class="list-header">Участники</h3>
        <div class="list-item">
            <a class="list-item-link" routerLink="/rsur/particips">
                <div>
                    <h4>Список участников</h4>
                </div>
            </a>
        </div>
    </div>

    <div class="list-container">
        <h3 class="list-header">Вспомогательный материал</h3>
        <div class="list-item">
            <a class="list-item-link" target="_blank" href="https://cloud.mail.ru/public/E6sR/WAFY5mpEu">
                <div>
                    <h4>Спецификации КИМ</h4>
                </div>
            </a>
        </div>
        <div *ngIf="false" class="list-item">
            <a class="list-item-link" target="_blank" href="https://cloud.mail.ru/public/H1cj/bQbLoHicw">
                <div>
                    <h4>Демо-версии КИМ</h4>
                </div>
            </a>
        </div>
        <div class="list-item">
            <a class="list-item-link" target="_blank" href="https://cloud.mail.ru/public/Mzu7/N3yRJLLzp">
                <div>
                    <h4>Рекомендации и материалы диагностики «Октябрь-2017»</h4>
                </div>
            </a>
        </div>
    </div>

    <div *ngIf="0==1" class="list-container">
        <h3 class="list-header">Диагностики</h3>
        <div class="list-item">
            <a class="list-item-link" routerLink="/rsur/test">
                <div>
                    <h4>«Октябрь-2017»</h4>
                </div>
            </a>
        </div>
    </div>

    <div *ngIf="isArea() || isSchool() || isRsurParticip()" class="list-container">
        <h3 class="list-header">Отчеты</h3>
        <div class="list-item">
            <a class="list-item-link" routerLink="/rsur/results-list">
                <div>
                    <h4>Результаты диагностики «Октябрь-2017»</h4>
                </div>
            </a>
        </div>
        <div *ngIf="isArea() && account.UserName !== '206'" class="list-item">
            <a class="list-item-link" routerLink="/rsur/ratings">
                <div>
                    <h4>Рейтинги</h4>
                </div>
            </a>
        </div>
        <div *ngIf="isSchool() || isArea()" class="list-item">
            <a class="list-item-link" routerLink="/rsur/seminar-reports">
                <div>
                    <h4>Отчеты по семинарам</h4>
                </div>
            </a>
        </div>
        <div *ngIf="false" class="list-item">
            <a class="list-item-link" routerLink="/rsur/match-protocol">
                <div>
                    <h4>Сопоставление</h4>
                </div>
            </a>
        </div>
        <div *ngIf="isArea() && false" class="list-item">
            <a class="list-item-link" [routerLink]="['/rsur/scan-protocols']">
                <div>
                    <h4>Бланки ответов</h4>
                </div>
            </a>
        </div>
    </div>
</div>
