<div *ngIf="isLoading"><img style="margin-top:20px" height="100" class="center-block" src="/progress.gif" /></div>
<div *ngIf="!isLoading">
    <h2>РСУР: Главное меню</h2>

    <div *ngIf="isArea()" class="list-container">
        <h3 class="list-header">Диагностика «Октябрь-2018»</h3>
        <div>
            <a class="list-item-link" target="_blank" href="https://cloud.mail.ru/public/GhWx/bn9GnxmXg/{{account.UserName}}/102018_ру_распределение_{{account.UserName}}.xlsx">
                <h4><b>Русскй язык: распределение</b></h4>
            </a>
        </div>
    </div>

    <div *ngIf="false" class="list-container">
        <h3 class="list-header">Обществознание. Комплексная работа</h3>

        <!--Протоколы-->
        <div *ngIf="true" class="list-item">
            <a class="list-item-link" [routerLink]="['/rsur/question-protocols']">
                <div>
                    <h4><b>Протоколы проверки заданий</b></h4>
                </div>
                <span class="progressbar-item"><ngb-progressbar [showValue]="true" type="info" [value]="fillingProgress()"></ngb-progressbar></span>
            </a>
        </div>
    </div>

    <div *ngIf="false" class="list-container">
        <h3 class="list-header">Участники</h3>
        <div class="list-item">
            <a class="list-item-link" routerLink="/rsur/particips">
                <div>
                    <h4>Список участников</h4>
                </div>
            </a>
        </div>
    </div>

    <div class="list-container" *ngIf="false">
        <h3 class="list-header">Вспомогательный материал</h3>

        <div class="list-item">
            <a class="list-item-link" target="_blank" href="https://cloud.mail.ru/public/E6sR/WAFY5mpEu">
                <div>
                    <h4>Спецификации КИМ и критерии оценивания</h4>
                </div>
            </a>
        </div>

        <div *ngIf="false" class="list-item">
            <a class="list-item-link" target="_blank" href="https://cloud.mail.ru/public/H1cj/bQbLoHicw">
                <div>
                    <h4>Демо-версии КИМ</h4>
                </div>
            </a>
        </div>
    </div>

    <div *ngIf="true" class="list-container">
        <h3 class="list-header">Отчеты</h3>
        <div *ngIf="true" class="list-item">
            <a class="list-item-link" routerLink="/rsur/results-list">
                <div>
                    <h4><b>Результаты диагностик</b></h4>
                </div>
            </a>
        </div>
        <div *ngIf="isArea() && account.UserName !== '206'" class="list-item">
            <a class="list-item-link" routerLink="/rsur/ratings">
                <div>
                    <h4>Рейтинги</h4>
                </div>
            </a>
        </div>
        <div *ngIf="false" class="list-item">
            <a class="list-item-link" routerLink="/rsur/seminar-reports">
                <div>
                    <h4><b>Отчеты по семинарам</b></h4>
                </div>
            </a>
        </div>
    </div>
</div>
