.actions-bar {
    display: flex;
    justify-content: space-between;
    -webkit-align-items: baseline;
    align-items: baseline;
}

.mat-form-field + .mat-form-field{
    margin-left: 25px;
}

.class-select{
    width: 135px;
}