<h2>Список участников</h2>

<div class="actions-bar">
    <div>
        <mat-form-field>
            <input matInput [(ngModel)]="searchText" placeholder="поиск участника..." />
        </mat-form-field>

        <mat-form-field class="class-select">
            <mat-select placeholder="поиск по классу..." [(ngModel)]="searchClass">
                <mat-option [value]="">Все классы</mat-option>
                <mat-option *ngFor="let class of particips | getClasses" [value]="class.Id">{{ class.Name }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <button mat-raised-button color="primary" routerLink="/one-two-three/particips/add">Добавить участника...</button>
</div>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>код участника</th>
        <th>фамилия</th>
        <th>имя</th>
        <th>отчество</th>
        <th>класс</th>
    </tr>
    <tr *ngFor="let particip of particips | classFilter : searchClass | participFilter : searchText; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ particip.Id }}</td>
        <td>{{ particip.Surname }}</td>
        <td>{{ particip.Name }}</td>
        <td>{{ particip.SecondName }}</td>
        <td>{{ particip.ClassName }}</td>
        <td><a href="#" class="glyphicon glyphicon-edit" [routerLink]="['/one-two-three/particips', particip.Id]"></a></td>
        <td><a style="cursor:pointer" class="glyphicon glyphicon-trash" (click)="deleteParticip(particip)"></a></td>
    </tr>
</table>
<div class="text-center" *ngIf="particips.length === 0">
    <span *ngIf="isLoading; else noParticips"><i>Загрузка...</i></span>
    <ng-template #noParticips><span><i>Участников нет.</i></span></ng-template>
</div>