<h2>РСУР: Добавление участника</h2>
<hr/>

<div class="jumbotron">
    <p>На данном этапе актуализации РСУР нужно дополнить список участников РСУР своей школы.</p>
    <p>Если участник перешел к вам из другой школы выбираем "Участвовал в РСУР за другую школу" и ищем его по коду участника или ФИО;</p>
    <p>Если участник ранее не участвовал в диагностиках РСУР выбираем "Не участвовал в предыдущих диагностиках РСУР" и заполняем данные согласно форме;</p>
    <p>Если вы случайно добавили не того участника, то есть возможность отменить добавление;</p>
    <p>По завершению добавления участников необходимо перейти назад к списку участников и нажать кнопку "Завершить этап 2".</p>
</div>

<mat-radio-group [(ngModel)]="isCreatingNew">
    <mat-radio-button [value]="0">Участвовал в РСУР за другую школу</mat-radio-button>
    <mat-radio-button [value]="1">Не участвовал в предыдущих диагностиках РСУР</mat-radio-button>
</mat-radio-group>

<app-create-particip (conflict)="conflictHandler($event)" *ngIf="isCreatingNew === 1"></app-create-particip>
<app-transfer-particip [searchText]="searchText" *ngIf="isCreatingNew === 0"></app-transfer-particip>