<h2>РСУР: Загрузка бланков ответов</h2>
<hr />
<ng-template [ngIf]="!isPageLoading">
    <div>количество загруженных бланков: {{allCompleteCount()}}</div>
    <div>из них</div>
    <div>распознано: {{allCompleteCount() - notMatchedCount()}}</div>
    <div>не распознано: {{notMatchedCount()}}</div>
    <div class="actions-bar">
        <div class="search-field">
            <mat-form-field>
                <input [(ngModel)]="searchText" placeholder="Поиск..." matInput />
            </mat-form-field>
        </div>

        <a style="z-index:1" class="fileUploader" mat-raised-button [disabled]="isScansUploading">
            <input style="z-index:1; cursor:pointer" type="file" accept=".png, .jpg, .jpeg, .tif, .tiff" title="Отправить..." (change)="addPhoto($event)" multiple />
            <span style="z-index:0" class="glyphicon glyphicon-upload"></span> Отправить...
        </a>
    </div>
</ng-template>

<div *ngIf="answerSheets.length != 0 && !isPageLoading">
    <div>
        <table class="table table-bordered">
            <tr>
                <th class="centered-mini-cell">№ п/п</th>
                <th style="text-align:center">Наименование файла</th>
                <th>Код участника</th>
                <th>Блок</th>
                <th>Баллы по заданиям</th>
                <th>Действия</th>
            </tr>
            <tr *ngFor="let answerSheet of answerSheets | filter : {'SourceName' : searchText }; let i = index" [ngClass]="{'uploadError': answerSheet.Status === 'isFailed'}">
                <td class="centered-mini-cell">{{i + 1}}</td>
                <td>{{answerSheet.SourceName}}</td>
                <ng-template [ngIf]="answerSheet.Status !== 'isFailed'">
                    <td [ngClass]="{'red': !answerSheet.ParticipCode}">{{answerSheet.ParticipCode}}</td>
                    <td [ngClass]="{'red': !answerSheet.TestName}">{{answerSheet.TestName}}</td>
                    <td [ngClass]="{'red': !answerSheet.Marks}">{{answerSheet.Marks}}</td>
                </ng-template>
                <td colspan="3" *ngIf="answerSheet.Status === 'isFailed'" style="text-align:center">Не удается отправить файл. Повторите попытку</td>
                
                <td *ngIf="!answerSheet.Status || answerSheet.Status === 'isComplete'">
                    <span class="actions-cell-container">
                        <a [routerLink]="['/rsur/match-protocol', answerSheet.FileId]">
                            <img *ngIf="!answerSheet.ParticipCode" style="width: 20px" src="https://png.icons8.com/ocr/win8/50/000000">
                            <span class="glyphicon glyphicon-edit" *ngIf="answerSheet.ParticipCode"></span>
                        </a>
                        
                        <a style="cursor:pointer">
                            <span class="glyphicon glyphicon-trash" (click)="deleteScan(answerSheet)"></span>
                        </a>
                    </span>
                </td>

                <td *ngIf="answerSheet.Status === 'isFailed'">
                    <span class="actions-cell-container">
                        <a class="glyphicon glyphicon-repeat" (click)="reuploadScan(answerSheet)" style="cursor:pointer"></a>

                        <a style="cursor:pointer">
                            <span class="glyphicon glyphicon-trash" (click)="deleteScan(answerSheet)"></span>
                        </a>
                    </span>
                </td>

                <td *ngIf="answerSheet.Status === 'isUploading'">
                    <mat-progress-bar [value]="answerSheet.UploadProgress"></mat-progress-bar>
                </td>

                <td *ngIf="answerSheet.Status === 'isDeleting'" style="text-align:center">
                    <i class="fa fa-spinner swirl-spinner" aria-hidden="true"></i>
                </td>
            </tr>
        </table>
    </div>
</div>

<div *ngIf="isPageLoading">
    <img style="margin-top:20px" height="100" class="center-block" src="/progress.gif" />
</div>