<h2>Диагностика учащихся 1-х классов: главное меню</h2>

<div class="list-container" *ngIf="false">
    <h3 class="list-header">Участники</h3>
    <div>
        <a class="list-item-link" routerLink="/first-class/particips/list" *ngIf="false">
            <h4>Список участников</h4>
        </a>
        <a class="list-item-link" routerLink="/first-class/protocols/list" *ngIf="false">
            <h4 style="font-weight:bold">Протоколы проверки заданий</h4>
        </a>
        <a class="list-item-link" href="/file/1_classes/chikpro/{{ accountService.account.UserName }}.zip" download="ЧИКПРО опросник.zip">
            <h4 style="font-weight:bold">ЧИКПРО: «Адаптация первоклассников»</h4>
        </a>
    </div>
</div>

<div class="list-container" *ngIf="false">
    <h3 class="list-header">Результаты</h3>
    <div>
        <a class="list-item-link" href="/file/1_classes/092019/cards/{{ accountService.account.UserName }}.zip" download="Карты 1-х классов.zip">
            <h4><b>Результаты диагностического исследования</b></h4>
        </a>
        <a class="list-item-link" href="/file/1_classes/092019/materials/algoritm.rar" download="Алгоритм КПК.rar">
            <h4><b>Алгоритм работы учителя с результатами диагностического исследования</b></h4>
        </a>
    </div>
</div>

<div class="list-container" *ngIf="true">
    <h3 class="list-header">Вспомогательный материал</h3>
    <div>
        <a class="list-item-link" href="/file/1_classes/2020/material.rar" download="Материал для проведения исследования.rar">
            <h4>Материал для проведения исследования</h4>
        </a>
    </div>
</div>
