<h3>Файлы</h3>
<hr />
<div *ngIf="isLoading">Загрузка...</div>
<div *ngIf="!isLoading">        
    <table class="table table-striped table-bordered">
        <tr>
            <th>Проект</th>
            <th>Файл</th>
            <th>Дата публикации</th>            
        </tr>
        <tr *ngFor="let file of files">
            <td>{{file.ProjectName}}</td>
            <td><a href="{{file.FileLink}}">{{file.FileName}}</a></td>
            <td>{{file.PublishedDate}}</td>                        
        </tr>
    </table>    
</div>