@model Monit95App.ViewModels.Work201628.SelectVM

<style>
    .colortext {
        color: #6495ED; /* Цвет текста */
    }
    .hide {
        display: none;
    }
</style>
<p class="colortext"><b>Выберите два предмета по выбору:</b></p>
@using (Html.BeginForm())
{
    <div data-max="2">
        @*максимальное количество предметом которое можно выбрать*@
        @for (int i = 0; i < Model.Subjects.Count; i++)
        {
            @Html.CheckBoxFor(m => m.Subjects[i].Checked, new { id = "subject_" + i })
            @Html.HiddenFor(m => m.Subjects[i].Name)
            @Html.DisplayFor(m => m.Subjects[i].Name)
            <br />            
        }
    </div>

    @*<p><input type="submit" value="Отправить" class=""/></p>*@
    <br />
    <button id="bt-pass" type="submit" class="btn hide">Отправить</button>

}

@*JavaScript*@
<script type="text/jscript">
        $(function () {
            $(':checkbox').on('click', function () {
                var $block = $(this).parents('[data-max]');
                if (block = 1)
                {
                    $("#bt-pass").removeClass('hide');
                }
                if ($block.find(':checked').size() > $block.data('max')) {
                    this.checked = false;
                }
                console.log();
            });
        });
</script>  
