@model Monit95App.ViewModels.Work201628.SelectVM
<body>
    <h3>«Я сдам ОГЭ!»</h3>
    <hr />
    <h4>Предметы по выбору</h4>   

    @Html.Partial("~/Views/Work201628/_Partial0.cshtml", Model)


</body>

