<h2>Загрузка сканов</h2>
<hr />
<div class="actions-bar">
    <div class="search-field">
        <mat-form-field>
            <input [(ngModel)]="searchText" placeholder="Поиск..." matInput />
        </mat-form-field>
    </div>

    <a style="z-index:1" class="fileUploader" mat-raised-button>
        <input style="z-index:1; cursor:pointer" type="file" accept=".png, .jpg, .jpeg" title="Отправить..." (change)="addPhoto($event)" multiple />
        <span style="z-index:0" class="glyphicon glyphicon-upload"></span> Отправить...
    </a>
</div>
<mat-toolbar>
    <span class="state-caption">Не сопоставлено сканов: {{notMatchedScansCount}}</span>
    <span class="state-caption">Дублирующих сканов: {{duplicatesCount}}</span>
    <span class="state-caption">Не удалось отправить: {{failedScansCount}}</span>
</mat-toolbar>

<div *ngIf="scans.length != 0">
    <hr />
    <table style="width:700px" class="table table-bordered">
        <tr>
            <th class="centered-mini-cell">#</th>
            <th style="text-align:center">Наименование файла</th>
        </tr>
        <tr *ngFor="let scan of scans | filter : {'SourceName' : searchText }; let i = index" [ngClass]="{'uploadError': scan.Status === 'isFailed', 'uploadComplete': scan.Status === 'isComplete'}">
            <td class="centered-mini-cell">{{i + 1}}</td>
            <td>{{scan.SourceName}}</td>
            <td *ngIf="scan.Status !== 'isUploading'" class="centered-mini-cell">
                <a *ngIf="scan.FileId" class="glyphicon glyphicon-screenshot" [routerLink]="['/rsur/match-protocol', scan.FileId]"></a>
                <a *ngIf="scan.Status === 'isFailed'" class="glyphicon glyphicon-repeat" (click)="reuploadScan(scan)" style="cursor:pointer"></a>
            </td>
            <td *ngIf="scan.Status !== 'isUploading'" class="centered-mini-cell">
                <a *ngIf="scan.Status !== 'isDeleting'" class="glyphicon glyphicon-trash" style="cursor:pointer" (click)="deleteScan(scan)"></a>
                <i *ngIf="scan.Status === 'isDeleting'" class="fa fa-spinner swirl-spinner" aria-hidden="true"></i>
            </td>
            <td colspan="2" style="width:100px" *ngIf="scan.Status === 'isUploading'">
                <mat-progress-bar [value]="scan.UploadProgress"></mat-progress-bar>
            </td>
        </tr>
    </table>
</div>