<form *ngIf="questionResults" #marksForm="ngForm">

    <div class="form-inline" style="margin-bottom:5px" *ngIf="hasOptionNumber">
        <label class="markLabel">
            № Варианта
        </label>
        <input class="markInput" 
                (input)="onOptionNumberChange($event)" 
                name="optionNumber" 
                #optionNumber="ngModel" 
                [(ngModel)]="optionNumber"/>
    </div>

    <div *ngFor="let question of questionResults; let i = index" 
         class="form-inline" 
         style="margin-bottom:5px">

        <label class="markLabel">
            {{question.Name}}
        </label>
        <input class="markInput" 
               (input)="markChange($event, question.MaxMark)" 
               [(ngModel)]="question.CurrentMark" 
               #mark{{i}}="ngModel" 
               name="mark{{i}}" 
               required />
    </div>
    <br />
    <p>
        <button id="submitBtn" 
                type="submit" 
                (click)="send()" 
                mat-raised-button 
                color="primary" 
                [disabled]="marksForm.invalid || marksForm.pristine || marksSending">
            Сохранить
        </button>

        <button type="button" 
                mat-raised-button 
                color="warn" 
                (click)="cancel()">
            Отмена
        </button>
    </p>
</form>