<h2>Сопоставление</h2>
<hr />
<!--<div class="page-content" *ngIf="protocolScan">
    <div style="width:50%">
        <p>Имя файла: {{protocolScan.SourceName}}</p>
        <img src="{{protocolScan.Url}}" class="img-thumbnail" style="width:100%" />
    </div>
    <div class="form-side">
        <p>
            <mat-form-field [hideRequiredMarker]="true">
                <input style="width:150px" matInput maxlength="5" placeholder="Введите код участника" #participCode  [formControl]="codeControl" required />
                <mat-error *ngIf="codeControl.errors && codeControl.errors['serverValidateError']">{{codeControl.errors['serverValidateError']}}</mat-error>
                <mat-error *ngIf="codeControl.errors && codeControl.errors['minlength']">Минимальная длина кода составляет 5 символов</mat-error>
                <mat-error *ngIf="codeControl.errors && codeControl.errors['pattern']">Код может содержать только цифры</mat-error>
            </mat-form-field>
        </p>
        <div *ngIf="isMarksProtocolLoading">
            <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="marksProtocol">
            <marks-protocol [protocol]="marksProtocol" (onSend)="sendMarks($event)" (onCancel)="cancel()" [showParticipCode]="false"></marks-protocol>
        </div>
    </div>
</div>
<div *ngIf="!protocolScan">
    <img style="margin-top:20px" height="100" class="center-block" src="/progress.gif" />
</div>-->