<h2>Этап 2: добавление участников</h2>

<div *ngIf="!isFinished">
    <p *ngIf="isLoading" style="position:absolute; top:50%; left:50%">
        <mat-spinner></mat-spinner>
    </p>
    <p class="text-right">
        <button mat-raised-button color="primary" routerLink="/rsur/actualization/hire">Добавить участника</button>
    </p>

    <div class="table-container">
        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>код участника</th>
                <th>фио</th>
                <th>предмет</th>
            </tr>
            <tr style="height:53px" *ngFor="let particip of particips; let i = index" [ngClass]="{'newItem': particip.ActualCode === 3 || particip.ActualCode === 4}">
                <td class="text-center">{{ i + 1 }}</td>
                <td class="text-center">{{ particip.Code }}</td>
                <td>{{ particip.SchoolParticipInfo.Surname }} {{ particip.SchoolParticipInfo.Name }} {{ particip.SchoolParticipInfo.SecondName }}</td>
                <td>{{ particip.RsurSubjectName }}</td>
                <td style="width:200px">
                    <span *ngIf="particip.ActualCode === 3 || particip.ActualCode === 4">
                        <button mat-raised-button
                                (click)="cancelHiring(particip)"
                                color="warn">
                            Отменить добавление
                        </button>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    
    <div class="text-right">
        <button mat-raised-button color="primary" (click)="finish()">Завершить этап 2</button>
    </div>
</div>


<div *ngIf="isFinished" class="content-center">
    <h2>Второй этап актуализации окончен</h2>
    <button mat-raised-button (click)="notFinish()" color="primary">Отменить завершение</button>
</div>