<h2>«Я сдам ЕГЭ!»: главное меню</h2>

<div class="list-container" *ngIf="timeIsCome">
    <h3 class="list-header">01 - Русский язык</h3>
    <div>
        <a *ngIf="true" class="list-item-link" href="https://cloud.mail.ru/public/KJTe/EfYhScvB7" target="_blank">
            <div>
                <h4>Бланк ответов</h4>
            </div>
        </a>
        <a *ngIf="true" class="list-item-link" href="https://cloud.mail.ru/public/Kuru/dysgVSd7y" target="_blank">
            <div>
                <h4>Инструкция по выполнению работы</h4>
            </div>
        </a>
        <a *ngIf="true" class="list-item-link" href="https://cloud.mail.ru/public/EvZb/uaMFiYz6u" target="_blank">
            <div>
                <h4>Варианты ИК</h4>
            </div>
        </a>
        <a *ngIf="false" class="list-item-link" href="" target="_blank">
            <div>
                <h4><b>Ключи для проверки работ</b></h4>
            </div>
        </a>
        <a *ngIf="false" class="list-item-link" routerLink="/particips/protocols">
            <div>
                <h4><b>Заполнение протоколов проверки заданий</b></h4>
            </div>
        </a>
    </div>
</div>

<div class="list-container" *ngIf="true">
    <h3 class="list-header">02 - Математика базовая</h3>
    <div>
        <a *ngIf="false" class="list-item-link" href="https://cloud.mail.ru/public/4SoF/xKNuVLJJJ" target="_blank">
            <div>
                <h4>Бланк ответов</h4>
            </div>
        </a>
        <a *ngIf="false" class="list-item-link" href="https://cloud.mail.ru/public/D9Vc/5Ncn57FWm" target="_blank">
            <div>
                <h4>Инструкция по выполнению работы</h4>
            </div>
        </a>
        <a *ngIf="false" class="list-item-link" href="https://cloud.mail.ru/public/J6iW/sPP53VFJk" target="_blank">
            <div>
                <h4>Справочные материалы</h4>
            </div>
        </a>
        <a *ngIf="false" class="list-item-link" href="https://cloud.mail.ru/public/HtGR/nVKqEVD8t" target="_blank">
            <div>
                <h4>Варианты ИК</h4>
            </div>
        </a>
        <a *ngIf="true" class="list-item-link" href="https://cloud.mail.ru/public/6Eeh/KsefWPtaE" target="_blank">
            <div>
                <h4><b>Ключи для проверки работ</b></h4>
            </div>
        </a>
        <a *ngIf="true" class="list-item-link" routerLink="/particips/protocols">
            <div>
                <h4><b>Заполнение протоколов проверки заданий</b></h4>
            </div>
        </a>
    </div>
</div>

<div class="list-container">
    <h3 class="list-header">Методический материал</h3>
    <div>
        <a class="list-item-link" href="https://cloud.mail.ru/public/GZdC/qUjd5deFe" target="_blank">
            <div>
                <h4><b>Видео-инструкция по заполнению протокола проверки заданий</b></h4>
            </div>
        </a>
        <a class="list-item-link" href="https://cloud.mail.ru/public/GoGZ/sXgu2vUCk" target="_blank">
            <div>
                <h4>Инструкции организатору и школьному координатору</h4>
            </div>
        </a>
        <a class="list-item-link" href="https://cloud.mail.ru/public/2ube/d2jsQQfw2" target="_blank">
            <div>
                <h4>Регламент проведения «Я сдам ЕГЭ!» и «Я сдам ОГЭ!»</h4>
            </div>
        </a>
    </div>
</div>

<!-- Общее -->
<div class="list-container" *ngIf="false">
    <h3 class="list-header">Общее</h3>
    <div>
        <a class="list-item-link" routerLink="/particips/list">
            <div>
                <h4>Список участников</h4>
            </div>
        </a>
        <!--<a class="list-item-link" href="https://t.me/iTakeEge" target="_blank">
            <div>
                <h4><b>Telegram-группа технической поддержки: https://t.me/iTakeEge</b></h4>
            </div>
        </a>-->
    </div>
</div>


<div class="list-container">
    <h3 class="list-header">Задания</h3>
    <div>
        <a class="list-item-link" href="https://cloud.mail.ru/public/Doei/ZBtrhe2dG" target="_blank">
            <div>
                <h4>Русский язык: КИМ по 2 и 4 заданиям</h4>
            </div>
        </a>
        <a class="list-item-link" href="https://cloud.mail.ru/public/6FgY/K8KvPJcLQ" target="_blank">
            <div>
                <h4>Русский язык: ключи по 2 и 4 заданиям</h4>
            </div>
        </a>
        <a class="list-item-link" href="https://cloud.mail.ru/public/BU8N/UmDc2YyFj" target="_blank">
            <div>
                <h4>Математика: КИМы и ключи по 11 заданию</h4>
            </div>
        </a>
    </div>
</div>