<h2>«Я сдам ЕГЭ!»: главное меню</h2>

<!-- Общее -->
<div class="list-container" *ngIf="false">
    <h3 class="list-header">Общее</h3>
    <div>
        <a class="list-item-link" routerLink="/particips/list" *ngIf="false">
            <div>
                <h4>Список участников</h4>
            </div>
        </a>
        <a class="list-item-link" href="http://monit95.ru/ege" target="_blank" *ngIf="false">
            <div>
                <h4><b>Сайт для занесения результатов участников «Я сдам ЕГЭ!»</b></h4>
            </div>
        </a>
    </div>
</div>

<div class="list-container" *ngIf="false">
    <h3 class="list-header">Я сдам ЕГЭ май 2019</h3>

    <a *ngIf="isBadSchool" class="list-item-link" href="/file/iTakeEge/052019/МА.rar" download="Математика.rar">
        <h4>Математика</h4>
    </a>

    <a *ngIf="isBadSchool" class="list-item-link" href="/file/iTakeEge/052019/РУ.rar" download="Русский язык.rar">
        <h4>Русский язык</h4>
    </a>

    <a *ngIf="isBadSchool" class="list-item-link" href="/file/iTakeEge/052019/Алгоритм работы школ (1-12 мая).rar" download="Алгоритм работы школ (1-12 мая).rar">
        <h4 style="font-weight:bold">Алгоритм работы</h4>
    </a>
    <a *ngIf="isBadSchool || account.isArea()" class="list-item-link" href="/file/iTakeEge/tasks/new_algoritm/schools_otchet.docx" download="Форма отчета.docx">
        <h4>Форма отчета</h4>
    </a>
</div>

<div class="list-container" *ngIf="true">
    <h3 class="list-header">«Я сдам ЕГЭ!», промежуточная диагностика - декабрь 2019</h3>
    <div *ngIf="account.isSchool()">
        <a class="list-item-link" href="/file/iTakeEge/122019/tasks/МА.rar" download="Варианты работ МАТ.rar">
            <h4>Математика: Варианты работ</h4>
        </a>
        <a class="list-item-link" href="/file/iTakeEge/122019/tasks/РУ.rar" download="Варианты работ РУ.rar">
            <h4>Русский язык: Варианты работ</h4>
        </a>

        <a class="list-item-link" href="/file/iTakeEge/122019/keys/МА.rar" download="Ключи МАТ.rar" *ngIf="true">
            <h4>Математика: Ключи для проверки работ</h4>
        </a>
        <a class="list-item-link" href="/file/iTakeEge/122019/keys/РУ.rar" download="Ключи РУС.rar" *ngIf="setTimer(20, 14)">
            <h4 style="font-weight:bold">Русский язык: Ключи для проверки работ</h4>
        </a>

        <a class="list-item-link" routerLink="/particips/protocols/3085" *ngIf="true">
            <h4>Математика: Заполнение протоколов проверки заданий</h4>
        </a>
        <a class="list-item-link" routerLink="/particips/protocols/3086" *ngIf="setTimer(20, 14)">
            <h4 style="font-weight:bold">Русский язык: Заполнение протоколов проверки заданий</h4>
        </a>
    </div>

    <a class="list-item-link" [routerLink]="['/particips/reports/27']" [queryParams]="{projectName: 'Я сдам ЕГЭ!'}" *ngIf="true">
        <h4>Индивидуальные карты участников</h4>
    </a>
    <a class="list-item-link" [routerLink]="['/particips/reports/30']" [queryParams]="{projectName: 'Я сдам ЕГЭ!'}" *ngIf="true">
        <h4>Индивидуальные карты участников</h4>
    </a>
</div>

<div class="list-container" *ngIf="true">
    <h3 class="list-header">«Я сдам Обществознание!», промежуточная диагностика - декабрь 2019</h3>

    <a class="list-item-link" [routerLink]="['/particips/reports/30']" [queryParams]="{projectName: 'Я сдам Обществознание!'}" *ngIf="account.isSchool()">
        <h4>Индивидуальные карты участников</h4>
    </a>
    <a class="list-item-link" href="/file/iTakeSociety/122019/reports/areas/{{account.account.UserName}}.xlsx" download="Протокол Человек и общество.xlsx" *ngIf="account.isArea()">
        <h4><b>Скачать протокол проверки результатов</b></h4>
    </a>
</div>

<div class="list-container" *ngIf="account.account.UserName == '0463'">
    <h3 class="list-header">Ключи по математике профильного уровня</h3>

    <a class="list-item-link" href="/file/iTakeEge/tasks/2019/chikpro/kluch.rar">
        <h4>Скачать материалы</h4>
    </a>

</div>
<div class="list-container" *ngIf="account.account.UserName == '0189'">
    <h3 class="list-header">Ключи по математике профильного уровня</h3>

    <a class="list-item-link" href="/file/iTakeEge/tasks/2019/chikpro/kluch.rar">
        <h4>Скачать материалы</h4>
    </a>

</div>
<div class="list-container" *ngIf="account.account.UserName == '0242'">
    <h3 class="list-header">Ключи по математике профильного уровня</h3>

    <a class="list-item-link" href="/file/iTakeEge/tasks/2019/chikpro/kluch.rar">
        <h4>Скачать материалы</h4>
    </a>

</div>
<div class="list-container" *ngIf="account.account.UserName == '0294'">
    <h3 class="list-header">Ключи по математике профильного уровня</h3>

    <a class="list-item-link" href="/file/iTakeEge/tasks/2019/chikpro/kluch.rar">
        <h4>Скачать материалы</h4>
    </a>

</div>
<div class="list-container" *ngIf="account.account.UserName == '0142'">
    <h3 class="list-header">Ключи по математике профильного уровня</h3>

    <a class="list-item-link" href="/file/iTakeEge/tasks/2019/chikpro/kluch.rar">
        <h4>Скачать материалы</h4>
    </a>

</div>
<div class="list-container" *ngIf="account.account.UserName == '0273'">
    <h3 class="list-header">Ключи по математике профильного уровня</h3>

    <a class="list-item-link" href="/file/iTakeEge/tasks/2019/chikpro/kluch.rar">
        <h4>Скачать материалы</h4>
    </a>

</div>
<div class="list-container" *ngIf="account.account.UserName == '0215'">
    <h3 class="list-header">Ключи по математике профильного уровня</h3>

    <a class="list-item-link" href="/file/iTakeEge/tasks/2019/chikpro/kluch.rar">
        <h4>Скачать материалы</h4>
    </a>

</div>
<div class="list-container" *ngIf="account.account.UserName == '0297'">
    <h3 class="list-header">Ключи по математике профильного уровня</h3>

    <a class="list-item-link" href="/file/iTakeEge/tasks/2019/chikpro/kluch.rar">
        <h4>Скачать материалы</h4>
    </a>

</div>
<div class="list-container" *ngIf="account.account.UserName == '0050'">
    <h3 class="list-header">Ключи по математике профильного уровня</h3>

    <a class="list-item-link" href="/file/iTakeEge/tasks/2019/chikpro/kluch.rar">
        <h4>Скачать материалы</h4>
    </a>

</div>
<div class="list-container" *ngIf="account.account.UserName == '0049'">
    <h3 class="list-header">Ключи по математике профильного уровня</h3>

    <a class="list-item-link" href="/file/iTakeEge/tasks/2019/chikpro/kluch.rar">
        <h4>Скачать материалы</h4>
    </a>

</div>
<div class="list-container" *ngIf="account.account.UserName == '0016'">
    <h3 class="list-header">Ключи по математике профильного уровня</h3>

    <a class="list-item-link" href="/file/iTakeEge/tasks/2019/chikpro/kluch.rar">
        <h4>Скачать материалы</h4>
    </a>

</div>
<div class="list-container" *ngIf="account.account.UserName == '0377'">
    <h3 class="list-header">Ключи по математике профильного уровня</h3>

    <a class="list-item-link" href="/file/iTakeEge/tasks/2019/chikpro/kluch.rar">
        <h4>Скачать материалы</h4>
    </a>

</div>
<div class="list-container" *ngIf="account.account.UserName == '0346'">
    <h3 class="list-header">Ключи по математике профильного уровня</h3>

    <a class="list-item-link" href="/file/iTakeEge/tasks/2019/chikpro/kluch.rar">
        <h4>Скачать материалы</h4>
    </a>

</div>
<div class="list-container" *ngIf="account.account.UserName == '0195'">
    <h3 class="list-header">Ключи по математике профильного уровня</h3>

    <a class="list-item-link" href="/file/iTakeEge/tasks/2019/chikpro/kluch.rar">
        <h4>Скачать материалы</h4>
    </a>

</div>
<div class="list-container" *ngIf="account.account.UserName == '0149'">
    <h3 class="list-header">Ключи по математике профильного уровня</h3>

    <a class="list-item-link" href="/file/iTakeEge/tasks/2019/chikpro/kluch.rar">
        <h4>Скачать материалы</h4>
    </a>

</div>
<div class="list-container" *ngIf="account.account.UserName == '0001'">
    <h3 class="list-header">Ключи по математике профильного уровня</h3>

    <a class="list-item-link" href="/file/iTakeEge/tasks/2019/chikpro/kluch.rar">
        <h4>Скачать материалы</h4>
    </a>

</div>
<div class="list-container" *ngIf="account.account.UserName == '0290'">
    <h3 class="list-header">Ключи по математике профильного уровня</h3>

    <a class="list-item-link" href="/file/iTakeEge/tasks/2019/chikpro/kluch.rar">
        <h4>Скачать материалы</h4>
    </a>

</div>
<div class="list-container" *ngIf="account.account.UserName == '0197'">
    <h3 class="list-header">Ключи по математике профильного уровня</h3>

    <a class="list-item-link" href="/file/iTakeEge/tasks/2019/chikpro/kluch.rar">
        <h4>Скачать материалы</h4>
    </a>

</div>








<div class="list-container" *ngIf="false">
    <h3 class="list-header">Результаты «Я сдам Обществознание!», октябрь</h3>

    <a class="list-item-link" href="/file/iTakeSociety/102019/protocols/{{account.account.UserName}}.xlsx" download="Протокол «Я сдам Общество».xlsx">
        <h4>Скачать протокол проверки результатов входной диагностики (октябрь 2019)</h4>
    </a>
    <a class="list-item-link" [routerLink]="['/particips/reports/30']" [queryParams]="{projectName: 'Я сдам Обществознание!'}">
        <h4>Индивидуальные карты участников</h4>
    </a>
</div>

<div class="list-container" *ngIf="true">
    <h3 class="list-header">Результаты «Я сдам ЕГЭ!»-2019-2020 - сентябрь</h3>
    <div>
        <a class="list-item-link" href="/file/iTakeEge/092019/protocols/{{account.account.UserName}}.xlsx" download="Протокол результатов Я сдам ЕГЭ.xlsx" *ngIf="account.isSchool()">
            <h4>Скачать протокол проверки результатов</h4>
        </a>

        <a class="list-item-link" href="/file/iTakeEge/092019/protocols/areas/{{account.account.UserName}}.xlsx" download="Протокол результатов Я сдам ЕГЭ.xlsx" *ngIf="account.isArea()">
            <h4>Скачать протокол проверки результатов</h4>
        </a>

        <a class="list-item-link" routerLink="/particips/reports/27" *ngIf="account.isSchool()">
            <h4>Индивидуальные карты участников</h4>
        </a>
        <a class="list-item-link" href="/file/iTakeEge/tasks/2019/ma/9.rar">
            <h4><b>КИМ №9 по Математике</b></h4>
        </a>
        <a class="list-item-link" href="/file/iTakeEge/tasks/2019/ru/9.rar">
            <h4><b>КИМ №9 по Русскому языку</b></h4>
        </a>
        <a class="list-item-link" href="/file/iTakeEge/tasks/2019/soc/7.rar">
            <h4><b>КИМ №7 по Обществознанию</b></h4>
        </a>
        <a class="list-item-link" href="http://monit95.ru/ege">
            <h4><b>Занесение результатов</b></h4>
        </a>
    </div>
</div>

<div class="list-container" *ngIf="true">
    <h3 class="list-header">Полезные ссылки</h3>
    <a class="list-item-link" href="/file/iTakeEge/contacts.docx" download="Контактные данные кураторов проекта .docx">
        <h4> Контактные данные кураторов проекта "Я сдам ЕГЭ Обществознание"</h4>
    </a>
    <a class="list-item-link" href="/file/iTakeEge/ktp.xlsx" download="КТП.xlsx">
        <h4> Календарно-тематический план по обществознанию </h4>
    </a>
    <a class="list-item-link" href="/file/iTakeEge/uch_obsh.docx" download="Учителю обществознания_Алгоритм работы.docx">
        <h4> Учителю обществознания_Алгоритм работы.docx </h4>
    </a>
    <a class="list-item-link" href="/file/iTakeEge/salg.docx" download="Школьному координатору_Алгоритм работы.docx">
        <h4> Школьному координатору_Алгоритм работы в проекте "Я сдам ЕГЭ Обществознание".docx </h4>
    </a>
    <a class="list-item-link" href="/file/iTakeSociety/102019/tasks/algoritm.docx" download="Муниципальному координатору_Алгоритм работы.docx">
        <h4> Муниципальному координатору_Алгоритм работы в проекте "Я сдам ЕГЭ Обществознание".docx </h4>
    </a>
    <a class="list-item-link" href="/file/iTakeEge/Я сдам ЕГЭ. Алгоритм завуча.pptx" download="Алгоритм действий завуча и школьного координатора в проекте Я сдам ЕГЭ.pptx">
        <h4> Алгоритм действий завуча и школьного координатора в проекте Я сдам ЕГЭ </h4>
    </a>
</div>

<div class="list-container" *ngIf="true">
    <h3 class="list-header">Видео-материалы</h3>
    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4><b>1-я неделя</b></h4>
            </mat-panel-title>
            <mat-panel-description>
                Кликните чтобы раскрыть
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="list-item-link">
            <div style="width:100%;display:flex; justify-content: space-around;">
                <div style="display:inline-block; max-width:23%;padding:1%;">
                    <a href="https://youtu.be/MynPfxZrmJc " target="_blank" style="    margin-bottom: 15px;  text-align: center;width: 100%;display: flex;justify-content: center;align-items: center;">
                        <img style="width:100%;" src="http://monit95.ru/file/youtube.png" />
                    </a>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center; margin-bottom: 15px;">Урок №1. Природное и общественное в человеке </span>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center;" class="yvideo">Скопировать ссылку</span>
                </div>

                <div style="display:inline-block; max-width:23%;padding:1%;">
                    <a href="https://youtu.be/Sg3ph7DVA3s" target="_blank" style="    margin-bottom: 15px;  text-align: center;width: 100%;display: flex;justify-content: center;align-items: center;">
                        <img style="width:100%;" src="http://monit95.ru/file/youtube.png" />
                    </a>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center; margin-bottom: 15px;">Урок №2.Мировоззрение, его виды и формы </span>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center;" class="yvideo">Скопировать ссылку</span>
                </div>


                <div style="display:inline-block; max-width:23%;padding:1%;">
                    <a href="https://youtu.be/Kj22X6IRs00" target="_blank" style="    margin-bottom: 15px;  text-align: center;width: 100%;display: flex;justify-content: center;align-items: center;">
                        <img style="width:100%;" src="http://monit95.ru/file/youtube.png" />
                    </a>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center; margin-bottom: 15px;">Урок №3.Виды знаний</span>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center;" class="yvideo">Скопировать ссылку</span>
                </div>



            </div>
        </div>
    </mat-expansion-panel>
</div>






<div class="list-container" *ngIf="true">
    <h3 class="list-header">Видео-материалы</h3>
    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4><b>2-я неделя</b></h4>
            </mat-panel-title>
            <mat-panel-description>
                Кликните чтобы раскрыть
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="list-item-link">
            <div style="width:100%;display:flex; justify-content: space-around;">
                <div style="display:inline-block; max-width:23%;padding:1%;">
                    <a href="https://youtu.be/NtwvWnaXihQ" target="_blank" style="    margin-bottom: 15px;  text-align: center;width: 100%;display: flex;justify-content: center;align-items: center;">
                        <img style="width:100%;" src="http://monit95.ru/file/youtube.png" />
                    </a>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center; margin-bottom: 15px;">Урок № 4. Истина и ее критерии  </span>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center;" class="yvideo">Скопировать ссылку</span>
                    <a href="/file/iTakeSociety/102019/tasks/Урок №4 Истина и ее критерии.docx" style="display:inline-block;width:100%;padding:10px;    text-align: center;">Скачать материал</a>
                </div>

                <div style="display:inline-block; max-width:23%;padding:1%;">
                    <a href="https://youtu.be/SgppKPN95jw" target="_blank" style="    margin-bottom: 15px;  text-align: center;width: 100%;display: flex;justify-content: center;align-items: center;">
                        <img style="width:100%;" src="http://monit95.ru/file/youtube.png" />
                    </a>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center; margin-bottom: 15px;">Урок №5. Мышление и деятельность </span>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center;" class="yvideo">Скопировать ссылку</span>
                    <a href="/file/iTakeSociety/102019/tasks/Урок №5 Мышление и деятельность.docx" style="display:inline-block;width:100%;padding:10px;    text-align: center;">Скачать материал</a>
                </div>


                <div style="display:inline-block; max-width:23%;padding:1%;">
                    <a href="https://youtu.be/CXLClA5v78E" target="_blank" style="    margin-bottom: 15px;  text-align: center;width: 100%;display: flex;justify-content: center;align-items: center;">
                        <img style="width:100%;" src="http://monit95.ru/file/youtube.png" />
                    </a>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center; margin-bottom: 15px;">Урок №6. Потребности и интересы </span>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center;" class="yvideo">Скопировать ссылку</span>
                    <a href="/file/iTakeSociety/102019/tasks/Урок №6 Потребности и интересы.docx" style="display:inline-block;width:100%;padding:10px;    text-align: center;">Скачать материал</a>
                </div>



            </div>
        </div>
    </mat-expansion-panel>
</div>










<div class="list-container" *ngIf="true">
    <h3 class="list-header">Видео-материалы</h3>
    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4><b>3-я неделя</b></h4>
            </mat-panel-title>
            <mat-panel-description>
                Кликните чтобы раскрыть
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="list-item-link">
            <div style="width:100%;display:flex; justify-content: space-around;">
                <div style="display:inline-block; max-width:23%;padding:1%;">
                    <a href="https://youtu.be/6pXrzhQpzj8" target="_blank" style="    margin-bottom: 15px;  text-align: center;width: 100%;display: flex;justify-content: center;align-items: center;">
                        <img style="width:100%;" src="http://monit95.ru/file/youtube.png" />
                    </a>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center; margin-bottom: 15px;">Урок №7 Свобода и необходимость в человеческой деятельности. Свобода и ответственность</span>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center;" class="yvideo">Скопировать ссылку</span>
                    <a href="/file/iTakeSociety/102019/tasks/Урок №7 Свобода и необходимость в человеческой деятельности.docx" style="display:inline-block;width:100%;padding:10px;    text-align: center;">Скачать материал</a>
                </div>

                <div style="display:inline-block; max-width:23%;padding:1%;">
                    <a href="https://youtu.be/JH6pawsAHig" target="_blank" style="    margin-bottom: 15px;  text-align: center;width: 100%;display: flex;justify-content: center;align-items: center;">
                        <img style="width:100%;" src="http://monit95.ru/file/youtube.png" />
                    </a>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center; margin-bottom: 15px;">Урок №8 Системное строение общества: элементы и подсистемы </span>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center;" class="yvideo">Скопировать ссылку</span>
                    <a href="/file/iTakeSociety/102019/tasks/Урок № 8 Системное строение общества элементы и подсистемы.docx" style="display:inline-block;width:100%;padding:10px;    text-align: center;">Скачать материал</a>
                </div>


                <div style="display:inline-block; max-width:23%;padding:1%;">
                    <a href="https://youtu.be/1em4kCfUQ1c" target="_blank" style="    margin-bottom: 15px;  text-align: center;width: 100%;display: flex;justify-content: center;align-items: center;">
                        <img style="width:100%;" src="http://monit95.ru/file/youtube.png" />
                    </a>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center; margin-bottom: 15px;">Урок №9. Основные институты общества  </span>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center;" class="yvideo">Скопировать ссылку</span>
                    <a href="/file/iTakeSociety/102019/tasks/Урок № 9 Основные институты общества.docx" style="display:inline-block;width:100%;padding:10px;    text-align: center;">Скачать материал</a>
                </div>



            </div>
        </div>
    </mat-expansion-panel>
</div>

<div class="list-container" *ngIf="true">
    <h3 class="list-header">Видео-материалы</h3>
    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4><b>4-я неделя</b></h4>
            </mat-panel-title>
            <mat-panel-description>
                Кликните чтобы раскрыть
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="list-item-link">
            <div style="width:100%;display:flex; justify-content: space-around;">
                <div style="display:inline-block; max-width:23%;padding:1%;">
                    <a href="https://youtu.be/dMsGfbHoKzQ" target="_blank" style="    margin-bottom: 15px;  text-align: center;width: 100%;display: flex;justify-content: center;align-items: center;">
                        <img style="width:100%;" src="http://monit95.ru/file/youtube.png" />
                    </a>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center; margin-bottom: 15px;">Урок №10 Понятие культуры. Формы и разновидности культуры</span>
                    <button mat-raised-button style="display:inline-block;width:100%; text-align: center;" class="yvideo">Скопировать ссылку</button>
                    <a href="/file/iTakeSociety/102019/tasks/lesson_10.docx" download="Урок №10 Понятие культуры. Формы и разновидности культуры.docx" style="display:inline-block;width:100%;padding:10px;    text-align: center;">Скачать материал</a>
                </div>

                <div style="display:inline-block; max-width:23%;padding:1%;">
                    <a href="https://youtu.be/A_rg5MAyfNI" target="_blank" style="    margin-bottom: 15px;  text-align: center;width: 100%;display: flex;justify-content: center;align-items: center;">
                        <img style="width:100%;" src="http://monit95.ru/file/youtube.png" />
                    </a>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center; margin-bottom: 15px;">Урок №11 Наука. Основные особенности научного мышления. Естественные и социально гуманитарные науки</span>
                    <button mat-raised-button style="display:inline-block;width:100%; text-align: center;" class="yvideo">Скопировать ссылку</button>
                    <a href="/file/iTakeSociety/102019/tasks/lesson_11.docx" download="Урок №11 Наука. Основные особенности научного мышления. Естественные и социально гуманитарные науки.docx" style="display:inline-block;width:100%;padding:10px;    text-align: center;">Скачать материал</a>
                </div>


                <div style="display:inline-block; max-width:23%;padding:1%;">
                    <a href="https://youtu.be/cFqz62_yb30" target="_blank" style="    margin-bottom: 15px;  text-align: center;width: 100%;display: flex;justify-content: center;align-items: center;">
                        <img style="width:100%;" src="http://monit95.ru/file/youtube.png" />
                    </a>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center; margin-bottom: 15px;">Урок №12 Образование, его значение для личности и общества</span>
                    <button mat-raised-button style="display:inline-block;width:100%; text-align: center;" class="yvideo">Скопировать ссылку</button>
                    <a href="/file/iTakeSociety/102019/tasks/lesson_12.docx" download="Урок №12 Образование, его значение для личности и общества.docx" style="display:inline-block;width:100%;padding:10px;    text-align: center;">Скачать материал</a>
                </div>



            </div>
        </div>
    </mat-expansion-panel>
</div>

<div class="list-container" *ngIf="true">
    <h3 class="list-header">Видео-материалы</h3>
    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4><b>5-я неделя</b></h4>
            </mat-panel-title>
            <mat-panel-description>
                Кликните чтобы раскрыть
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="list-item-link">
            <div style="width:100%;display:flex; justify-content: space-around;">
                <div style="display:inline-block; max-width:23%;padding:1%;">
                    <a href="https://youtu.be/SShWZPX4c3Y" target="_blank" style="    margin-bottom: 15px;  text-align: center;width: 100%;display: flex;justify-content: center;align-items: center;">
                        <img style="width:100%;" src="http://monit95.ru/file/youtube.png" />
                    </a>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center; margin-bottom: 15px;">Урок №13 Религия</span>
                    <button mat-raised-button style="display:inline-block;width:100%; text-align: center;" class="yvideo">Скопировать ссылку</button>
                    <a href="/file/iTakeSociety/102019/tasks/lesson_13.docx" download="Урок №13 Религия.docx" style="display:inline-block;width:100%;padding:10px;    text-align: center;">Скачать материал</a>
                </div>

                <div style="display:inline-block; max-width:23%;padding:1%;">
                    <a href="https://youtu.be/mzl-EjAjzC8" target="_blank" style="    margin-bottom: 15px;  text-align: center;width: 100%;display: flex;justify-content: center;align-items: center;">
                        <img style="width:100%;" src="http://monit95.ru/file/youtube.png" />
                    </a>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center; margin-bottom: 15px;">Урок №14 Искусство</span>
                    <button mat-raised-button style="display:inline-block;width:100%; text-align: center;" class="yvideo">Скопировать ссылку</button>
                    <a href="/file/iTakeSociety/102019/tasks/lesson_14.docx" download="Урок №14 Искусство.docx" style="display:inline-block;width:100%;padding:10px;    text-align: center;">Скачать материал</a>
                </div>


                <div style="display:inline-block; max-width:23%;padding:1%;">
                    <a href="https://youtu.be/JY9Wrz4_IsI" target="_blank" style="    margin-bottom: 15px;  text-align: center;width: 100%;display: flex;justify-content: center;align-items: center;">
                        <img style="width:100%;" src="http://monit95.ru/file/youtube.png" />
                    </a>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center; margin-bottom: 15px;">Урок №15 Мораль</span>
                    <button mat-raised-button style="display:inline-block;width:100%; text-align: center;" class="yvideo">Скопировать ссылку</button>
                    <a href="/file/iTakeSociety/102019/tasks/lesson_15.docx" download="Урок №15 Мораль.docx" style="display:inline-block;width:100%;padding:10px;    text-align: center;">Скачать материал</a>
                </div>



            </div>
        </div>
    </mat-expansion-panel>
</div>





<div class="list-container" *ngIf="true">
    <h3 class="list-header">Видео-материалы</h3>
    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4><b>6-я неделя</b></h4>
            </mat-panel-title>
            <mat-panel-description>
                Кликните чтобы раскрыть
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="list-item-link">
            <div style="width:100%;display:flex; justify-content: space-around;">
                <div style="display:inline-block; max-width:23%;padding:1%;">
                    <a href="https://youtu.be/uMsWA0ayerY" target="_blank" style="    margin-bottom: 15px;  text-align: center;width: 100%;display: flex;justify-content: center;align-items: center;">
                        <img style="width:100%;" src="http://monit95.ru/file/youtube.png" />
                    </a>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center; margin-bottom: 15px;">Урок №16 Понятие общественного прогресса </span>
                    <button mat-raised-button style="display:inline-block;width:100%; text-align: center;" class="yvideo">Скопировать ссылку</button>
                    <a href="/file/iTakeSociety/102019/tasks/Урок №16 Понятие общественного прогресса.docx" style="display:inline-block;width:100%;padding:10px;    text-align: center;">Скачать материал</a>
                </div>

                <div style="display:inline-block; max-width:23%;padding:1%;">
                    <a href="https://youtu.be/KadUX8dACuU" target="_blank" style="    margin-bottom: 15px;  text-align: center;width: 100%;display: flex;justify-content: center;align-items: center;">
                        <img style="width:100%;" src="http://monit95.ru/file/youtube.png" />
                    </a>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center; margin-bottom: 15px;">Урок №17 Многовариантность общественного развития (типы обществ) </span>
                    <button mat-raised-button style="display:inline-block;width:100%; text-align: center;" class="yvideo">Скопировать ссылку</button>
                    <a href="/file/iTakeSociety/102019/tasks/Урок №17 Многовариантность общественного развития (типы обществ).docx" style="display:inline-block;width:100%;padding:10px;    text-align: center;">Скачать материал</a>
                </div>


                <div style="display:inline-block; max-width:23%;padding:1%;">
                    <a href="https://youtu.be/QcrdvWZOAjM" target="_blank" style="    margin-bottom: 15px;  text-align: center;width: 100%;display: flex;justify-content: center;align-items: center;">
                        <img style="width:100%;" src="http://monit95.ru/file/youtube.png" />
                    </a>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center; margin-bottom: 15px;">Урок №18 Угрозы XXI в. (глобальные проблемы)</span>
                    <button mat-raised-button style="display:inline-block;width:100%; text-align: center;" class="yvideo">Скопировать ссылку</button>
                    <a href="/file/iTakeSociety/102019/tasks/Урок №18 Угрозы XXI в. (глобальные проблемы).docx" style="display:inline-block;width:100%;padding:10px;    text-align: center;">Скачать материал</a>
                </div>



            </div>
        </div>
    </mat-expansion-panel>
</div>






<div class="list-container" *ngIf="true">
    <h3 class="list-header">Видео-материалы</h3>
    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4><b>7-я неделя</b></h4>
            </mat-panel-title>
            <mat-panel-description>
                Кликните чтобы раскрыть
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="list-item-link">
            <div style="width:100%;display:flex; justify-content: space-around;">
                <div style="display:inline-block; max-width:23%;padding:1%;">
                    <a href="https://youtu.be/4QYVQdhs0bg" target="_blank" style="    margin-bottom: 15px;  text-align: center;width: 100%;display: flex;justify-content: center;align-items: center;">
                        <img style="width:100%;" src="http://monit95.ru/file/youtube.png" />
                    </a>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center; margin-bottom: 15px;">Урок №19 Право в системе социальных норм </span>
                    <button mat-raised-button style="display:inline-block;width:100%; text-align: center;" class="yvideo">Скопировать ссылку</button>
                    <a href="/file/iTakeSociety/102019/tasks/Урок №19 Право в системе социальных норм.docx" style="display:inline-block;width:100%;padding:10px;    text-align: center;">Скачать материал</a>
                </div>

                <div style="display:inline-block; max-width:23%;padding:1%;">
                    <a href="https://youtu.be/vEROZ1ncS6o" target="_blank" style="    margin-bottom: 15px;  text-align: center;width: 100%;display: flex;justify-content: center;align-items: center;">
                        <img style="width:100%;" src="http://monit95.ru/file/youtube.png" />
                    </a>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center; margin-bottom: 15px;">Урок №20 Система российского права. Законотворческий процесс  </span>
                    <button mat-raised-button style="display:inline-block;width:100%; text-align: center;" class="yvideo">Скопировать ссылку</button>
                    <a href="/file/iTakeSociety/102019/tasks/Урок №20 Система российского права. Законотворческий процесс.docx" style="display:inline-block;width:100%;padding:10px;    text-align: center;">Скачать материал</a>
                </div>


                <div style="display:inline-block; max-width:23%;padding:1%;">
                    <a href="https://youtu.be/i4WoGwnZNgs" target="_blank" style="    margin-bottom: 15px;  text-align: center;width: 100%;display: flex;justify-content: center;align-items: center;">
                        <img style="width:100%;" src="http://monit95.ru/file/youtube.png" />
                    </a>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center; margin-bottom: 15px;">Урок №21 Понятие и виды юридической ответственности </span>
                    <button mat-raised-button style="display:inline-block;width:100%; text-align: center;" class="yvideo">Скопировать ссылку</button>
                    <a href="/file/iTakeSociety/102019/tasks/Урок №21 Понятие и виды юридической ответственности.docx" style="display:inline-block;width:100%;padding:10px;    text-align: center;">Скачать материал</a>
                </div>



            </div>
        </div>
    </mat-expansion-panel>
</div>






<div class="list-container" *ngIf="true">
    <h3 class="list-header">Видео-материалы</h3>
    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4><b>8-я неделя</b></h4>
            </mat-panel-title>
            <mat-panel-description>
                Кликните чтобы раскрыть
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="list-item-link">
            <div style="width:100%;display:flex; justify-content: space-around;">
                <div style="display:inline-block; max-width:23%;padding:1%;">
                    <a href="https://youtu.be/Ce9-E_yP_1E" target="_blank" style="    margin-bottom: 15px;  text-align: center;width: 100%;display: flex;justify-content: center;align-items: center;">
                        <img style="width:100%;" src="http://monit95.ru/file/youtube.png" />
                    </a>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center; margin-bottom: 15px;">Урок №22 Конституция РФ  Часть 1</span>
                    <button mat-raised-button style="display:inline-block;width:100%; text-align: center;" class="yvideo">Скопировать ссылку</button>
                    <a href="/file/iTakeSociety/102019/tasks/Урок №22 Конституция РФ.docx" style="display:inline-block;width:100%;padding:10px;    text-align: center;">Скачать материал</a>
                </div>

                <div style="display:inline-block; max-width:23%;padding:1%;">
                    <a href="https://youtu.be/ROlvGo3X8EU" target="_blank" style="    margin-bottom: 15px;  text-align: center;width: 100%;display: flex;justify-content: center;align-items: center;">
                        <img style="width:100%;" src="http://monit95.ru/file/youtube.png" />
                    </a>
                    <span style="display:inline-block;width:100%;padding:10px;    text-align: center; margin-bottom: 15px;">Урок №22 Конституция РФ Часть 2</span>
                    <button mat-raised-button style="display:inline-block;width:100%; text-align: center;" class="yvideo">Скопировать ссылку</button>
                    <a href="/file/iTakeSociety/102019/tasks/Урок №22 Конституция РФ.docx" style="display:inline-block;width:100%;padding:10px;    text-align: center;">Скачать материал</a>
                </div>

            </div>
        </div>
    </mat-expansion-panel>
</div>


<div class="list-container" *ngIf="false">
    <h3 class="list-header">Методический материал</h3>
    <div>
        <a class="list-item-link" href="https://cloud.mail.ru/public/7xCo/HchfJHciQ" target="_blank">
            <div>
                <h4><b>Видео-инструкция по заполнению протокола проверки заданий</b></h4>
            </div>
        </a>
        <!--<a class="list-item-link" href="https://cloud.mail.ru/public/GoGZ/sXgu2vUCk" target="_blank">
            <div>
                <h4>Инструкции организатору и школьному координатору</h4>
            </div>
        </a>
        <a class="list-item-link" href="https://cloud.mail.ru/public/2ube/d2jsQQfw2" target="_blank">
            <div>
                <h4>Регламент проведения «Я сдам ЕГЭ!» и «Я сдам ОГЭ!»</h4>
            </div>
        </a>-->
    </div>
</div>



<div class="list-container" *ngIf="false">
    <h3 class="list-header">Задания</h3>
    <div>
        <a class="list-item-link" href="/file/iTakeEge/tasks/РУ/РУ-26.rar" download="Материалы и КИМ по 26 заданию.rar">
            <div>
                <h4><b>Русский язык: Материалы и КИМ по 26 заданию</b></h4>
            </div>
        </a>
        <a class="list-item-link" href="/file/iTakeEge/tasks/МА/МА-18.rar" download="Материалы по 18-му заданию.rar">
            <div>
                <h4><b>Математика: Материалы по 18-му заданию</b></h4>
            </div>
        </a>
    </div>
</div>