<h2>«Я сдам ЕГЭ!»: главное меню</h2>

<!-- Общее -->
<div class="list-container" *ngIf="true">
    <h3 class="list-header">Общее</h3>
    <div>
        <a class="list-item-link" routerLink="/particips/list" *ngIf="false">
            <div>
                <h4>Список участников</h4>
            </div>
        </a>
        <a class="list-item-link" href="http://monit95.ru/ege" target="_blank">
            <div>
                <h4><b>Сайт для занесения результатов участников «Я сдам ЕГЭ!»</b></h4>
            </div>
        </a>
    </div>
</div>

<div class="list-container" *ngIf="false">
    <h3 class="list-header">22 - Математика базовая</h3>

    <a class="list-item-link" href="/file/iTakeEge/042019/tasks/МА.rar" download="Работы Математка.rar">
        <h4>Варианты работ и Справочные материалы</h4>
    </a>

    <a class="list-item-link" href="/file/iTakeEge/042019/keys/КЛ-МА.rar" download="Математка Ключи.rar">
        <h4 style="font-weight:bold">Ключи для проверки работ</h4>
    </a>

    <a class="list-item-link" routerLink="/particips/protocols/3059">
        <h4 style="font-weight:bold">Заполнение протоколов проверки заданий</h4>
    </a>
</div>

<div class="list-container" *ngIf="true">
    <h3 class="list-header">01 - Русский язык</h3>
    <div>
        <a class="list-item-link" href="/file/iTakeEge/042019/tasks/РУ.rar" download="Работы Русский язык.rar">
            <h4>Варианты работ</h4>
        </a>

        <a class="list-item-link" href="/file/iTakeEge/042019/keys/КЛ-РУ.rar" download="Русский язык Ключи.rar">
            <h4 style="font-weight:bold">Ключи для проверки работ и критерии оценивания</h4>
        </a>

        <a class="list-item-link" routerLink="/particips/protocols/3058">
            <div>
                <h4><b>Заполнение протоколов проверки заданий</b></h4>
            </div>
        </a>
    </div>
</div>

<div class="list-container" *ngIf="true">
    <h3 class="list-header">Результаты «Я сдам ЕГЭ!»-2018-2019 - февраль</h3>
    <div>
        <a class="list-item-link" style="cursor:pointer" (click)="downloadCards(21)">
            <h4><b>Скачать результаты в формате Excel</b></h4>
        </a>
        <!--<a class="list-item-link" href="https://t.me/iTakeEge" target="_blank">
            <div>
                <h4><b>Telegram-группа технической поддержки: https://t.me/iTakeEge</b></h4>
            </div>
        </a>-->
        <a class="list-item-link" routerLink="/particips/reports/21">
            <h4><b>Индивидуальные карты участников</b></h4>
        </a>
    </div>
</div>

<div class="list-container" *ngIf="false">
    <h3 class="list-header">Методический материал</h3>
    <div>
        <a class="list-item-link" href="https://cloud.mail.ru/public/7xCo/HchfJHciQ" target="_blank">
            <div>
                <h4><b>Видео-инструкция по заполнению протокола проверки заданий</b></h4>
            </div>
        </a>
        <!--<a class="list-item-link" href="https://cloud.mail.ru/public/GoGZ/sXgu2vUCk" target="_blank">
            <div>
                <h4>Инструкции организатору и школьному координатору</h4>
            </div>
        </a>
        <a class="list-item-link" href="https://cloud.mail.ru/public/2ube/d2jsQQfw2" target="_blank">
            <div>
                <h4>Регламент проведения «Я сдам ЕГЭ!» и «Я сдам ОГЭ!»</h4>
            </div>
        </a>-->
    </div>
</div>



<div class="list-container" *ngIf="true">
    <h3 class="list-header">Задания</h3>
    <div>
        <a class="list-item-link" href="/file/iTakeEge/tasks/РУ/РУ-22.rar" download="Материалы и КИМ по 22 заданию.rar">
            <div>
                <h4><b>Русский язык: Материалы и КИМ по 22 заданию</b></h4>
            </div>
        </a>
        <a class="list-item-link" href="/file/iTakeEge/tasks/МА/МА-14.rar" download="Материалы и КИМ по 14 заданию.rar">
            <div>
                <h4><b>Математика: Материалы и КИМ по 14 заданию</b></h4>
            </div>
        </a>
    </div>
</div>