<h2>«Я сдам ОГЭ!»: главное меню</h2>

<!-- Общее -->
<div class="list-container" *ngIf="account.isITakeOGE()">
    <h3 class="list-header">Общее</h3>
    <div>
        <a class="list-item-link" routerLink="/particips/oge/list">
            <div>
                <h4>Список участников</h4>
            </div>
        </a>
        <!--<a class="list-item-link" href="https://t.me/iTakeEge" target="_blank">
            <div>
                <h4><b>Telegram-группа технической поддержки: https://t.me/iTakeEge</b></h4>
            </div>
        </a>-->
    </div>
</div>

<div class="list-container" *ngIf="false">
    <h3 class="list-header">01 - Русский язык</h3>
    <div>
        <a class="list-item-link" href="https://cloud.mail.ru/public/LJEA/5oangzkbq" *ngIf="false" target="_blank">
            <div>
                <h4><b>Бланк ответов</b></h4>
            </div>
        </a>
        <a class="list-item-link" href="https://cloud.mail.ru/public/3AMF/RvdJQwcdU" *ngIf="false" target="_blank">
            <div>
                <h4><b>Инструкция</b></h4>
            </div>
        </a>
        <a class="list-item-link" href="https://cloud.mail.ru/public/Cfqc/iB5MRcHZ2" *ngIf="false" target="_blank">
            <div>
                <h4><b>Варианты ИК</b></h4>
            </div>
        </a>
        <a class="list-item-link" href="https://cloud.mail.ru/public/FjbH/Z92TqThUh" *ngIf="true" target="_blank">
            <div>
                <h4><b>Ключи для проверки работ</b></h4>
            </div>
        </a>
        <a class="list-item-link" routerLink="/particips/protocols/2020" *ngIf="true">
            <div>
                <h4><b>Заполнение протоколов проверки заданий</b></h4>
            </div>
        </a>
    </div>
</div>

<div class="list-container" *ngIf="false">
    <h3 class="list-header">Методический материал</h3>
    <div>
        <a class="list-item-link" href="https://cloud.mail.ru/public/GoGZ/sXgu2vUCk" target="_blank">
            <div>
                <h4><b>Инструкции организатору и школьному координатору</b></h4>
            </div>
        </a>
        <a class="list-item-link" href="https://cloud.mail.ru/public/2ube/d2jsQQfw2" target="_blank">
            <div>
                <h4><b>Регламент проведения «Я сдам ЕГЭ!» и «Я сдам ОГЭ!»</b></h4>
            </div>
        </a>
    </div>
</div>


