<h2>«Я сдам ОГЭ!»: главное меню</h2>

<!-- Общее -->
<div class="list-container" *ngIf="false">
    <h3 class="list-header">Общее</h3>
    <div>
        <a class="list-item-link" routerLink="/particips/oge/list">
            <div>
                <h4>Список участников</h4>
            </div>
        </a>
        <!--<a class="list-item-link" href="https://t.me/iTakeEge" target="_blank">
            <div>
                <h4><b>Telegram-группа технической поддержки: https://t.me/iTakeEge</b></h4>
            </div>
        </a>-->
    </div>
</div>

<div class="list-container" *ngIf="true">
    <h3 class="list-header">01 - Русский язык</h3>
    <div>
        <a class="list-item-link" href="/file/iTakeOge/112018/all/варианты_работ/РУ_blank.pdf" download="бланк ответов_РУ.pdf">
            <div>
                <h4>Бланк ответов</h4>
            </div>
        </a>
        <a class="list-item-link" href="/file/iTakeOge/112018/all/варианты_работ/РУ_instructions.docx" download="инcтрукция_РУ.docx">
            <div>
                <h4>Инструкция</h4>
            </div>
        </a>
        <a class="list-item-link" href="/file/iTakeOge/112018/all/варианты_работ/РУ.rar" download="варианты КИМ_РУ.rar">
            <div>
                <h4>Варианты ИК</h4>
            </div>
        </a>
        <a class="list-item-link" href="/file/iTakeOge/112018/all/ключи/Ключи.rar" download="ключи_РУ.rar">
            <div>
                <h4><b>Ключи для проверки работ</b></h4>
            </div>
        </a>
        <a class="list-item-link" routerLink="/particips/protocols/2046">
            <div>
                <h4><b>Заполнение протоколов проверки заданий</b></h4>
            </div>
        </a>
    </div>
</div>

<div class="list-container" *ngIf="false">
    <h3 class="list-header">Методический материал</h3>
    <div>
        <a class="list-item-link" href="https://cloud.mail.ru/public/GoGZ/sXgu2vUCk" target="_blank">
            <div>
                <h4><b>Инструкции организатору и школьному координатору</b></h4>
            </div>
        </a>
        <a class="list-item-link" href="https://cloud.mail.ru/public/2ube/d2jsQQfw2" target="_blank">
            <div>
                <h4><b>Регламент проведения «Я сдам ЕГЭ!» и «Я сдам ОГЭ!»</b></h4>
            </div>
        </a>
    </div>
</div>


