form > .mat-form-field{
    display: block;
    width: 350px;
}

.class-select{
    width: 130px;
}

.form-buttons{
    margin-top:30px;
}

.birthday-wrapper {
    display: flex;

}

.birthday-wrapper > .mat-form-field{
    width: 250px;
}

.birthday-wrapper > .mat-form-field+.mat-form-field{
    margin-left: 15px;
}