<h2 *ngIf="isUpdate">Редактировать участника</h2>
<h2 *ngIf="!isUpdate">Добавить участника</h2>

<div>
    <form [formGroup]="participForm" (ngSubmit)="submitForm()">
        <mat-form-field>
            <input #surnameInput matInput placeholder="фамилия" [(ngModel)]="particip.Surname" formControlName="surname" />
            <mat-error *ngIf="surname.invalid && (surname.dirty || surname.touched)">
                <div *ngIf="surname.errors.required">введите фамилию</div>
                <div *ngIf="surname.errors.minlength">фамилия должна содержать хотя бы 4 символа</div>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="имя" [(ngModel)]="particip.Name" formControlName="name" />
            <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                <div *ngIf="name.errors.required">введите имя</div>
                <div *ngIf="name.errors.minlength">имя должно содержать хотя бы 3 символа</div>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="отчество" [(ngModel)]="particip.SecondName" formControlName="secondName" />
            <mat-error *ngIf="secondName.invalid && (secondName.dirty || secondName.touched)">
                <div *ngIf="secondName.errors.minlength">отчество должно содержать хотя бы 5 символа</div>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="class-select">
            <mat-select placeholder="класс" [(ngModel)]="particip.ClassId" formControlName="classId">
                <mat-option *ngFor="let class of classes" [value]="class.Id">{{ class.Name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="classId.invalid && (classId.dirty || classId.touched)">
                <div *ngIf="classId.errors.required">выберите класс</div>
            </mat-error>
        </mat-form-field>

        <mat-checkbox color="primary" [(ngModel)]="particip.WasDoo" formControlName="wasDoo">Ходил(-а) в дошкольное образовательное учреждение</mat-checkbox>

        <p class="alert alert-danger" *ngIf="participForm.pristine && formIsPristine">изменений не обнаружено!</p>

        <div class="form-buttons">
            <button mat-raised-button color="primary" type="submit">отправить</button>
            <button mat-raised-button color="warn" type="button" (click)="cancel()">отменить</button>
            <button mat-raised-button *ngIf="!isUpdate" type="button" (click)="addNext()">сохранить и добавить еще</button>
        </div>
    </form>
</div>

<spinner-view *ngIf="isLoading" [caption]="'загрузка...'"></spinner-view>