<div class="page-header">
    <h3>Список участников</h3>
</div>
<div class="panel">
    <div class="form-group">
        <div>
            <div *ngIf="particips" style="display:inline-block;">
                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="поиск по фамилии..." />
            </div>
            <div style="display:inline-block;">                
                <!--<a class="btn btn-default" href="/api/files/rsurParticipLists/{{userName}}" target="_blank">
                    <i class="fa fa-file-excel-o fa-lg"></i> Экспорт
                </a>-->
            </div>
        </div>
        <br />
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Код</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчеcтво</th>
                    <th>Предмет</th>
                    <th>Актуальность</th>                    
                </tr>
            </thead>
            <tbody>
                <!--<tr *ngFor="let particip of particips | rsurParticipFilter: searchText | limitTo: 100">-->
            <tr *ngFor="let particip of particips" [class.red]="particip.ActualCode == 0"                                                    
                                                   [class.yellow]="particip.ActualCode == 2">
                    <td>{{particip.Code}}</td>
                    <td>{{particip.Surname}}</td>
                    <td>{{particip.Name}}</td>
                    <td>{{particip.SecondName}}</td>
                    <td>{{particip.RsurSubjectName}}</td>
                    <td>
                        <div *ngIf="particip.ActualCode != 2">
                            <div class="radio">
                                <label><input type="radio" name="{{particip.Code}}" checked="checked"> без изменений</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="{{particip.Code}}"/> выбыл</label>
                            </div>    
                        </div>
                        <div *ngIf="particip.ActualCode == 2">новый</div>
                    </td>
                    <td *ngIf="particip.ActualCode == 2"><a style="cursor:pointer" class="glyphicon glyphicon-trash" (click)="delete(particip.Code)"></a></td>                    
            <!--<td>
                <button type="button" class="btn btn-default" (click)="openModal(particip)">
                    <span class="glyphicon glyphicon-menu-right"></span>запросить
                </button>
            </td>-->
                </tr>
            </tbody>
        </table>
    </div>
</div>