<h2>Диагностика учащихся 2-х и 3-х классов: главное меню</h2>

<div class="jumbotron" style="margin-top:25px">
    <p><b>Инструкция по работе с электронной формой "Протокол проверки заданий":</b></p>
    <p>Загрузите  электронную форму "Протокол проверки заданий" для соответствующего класса, заполните его и отправьте на сервер.</p>
</div>

<div class="list-container" *ngIf="accountService.account.UserName && accountService.account.UserName !== '0382'">
    <h3 class="list-header">Смысловое чтение (только для 3-х классов)</h3>
    <div>
        <a class="list-item-link" href="https://cloud.mail.ru/public/8145/rvxggDTsc" target="_blank">
            <h4>Варианты работ</h4>
        </a>
        <a class="list-item-link" href="https://cloud.mail.ru/public/FLYR/hQxDpyfgA" target="_blank">
            <h4><b>Критерии оценки работ</b></h4>
        </a>
        <a class="list-item-link" href="https://cloud.mail.ru/public/2QZ7/q7QGa1HYy" target="_blank">
            <h4><b>Протокол проверки заданий</b></h4>
        </a>
        <app-excel-upload [testCode]="'0303'" [collectorId]="13"></app-excel-upload>
    </div>
</div>

<div class="list-container">
    <h3 class="list-header">Критерии оценки: Метапредметная диагностика</h3>
    <div>
        <a class="list-item-link" href="https://cloud.mail.ru/public/8aKE/pxnNLUxVP" target="_blank">
            <h4>2-й класс: Критерии оценки метапредметной диагностической работы</h4>
        </a>
        <a class="list-item-link" href="https://cloud.mail.ru/public/2Wnd/ZcrFyBK9b" target="_blank">
            <h4>3-й класс: Критерии оценки метапредметной диагностической работы</h4>
        </a>
    </div>
</div>

<div class="list-container">
    <h3 class="list-header">2-й класс. Метапредметная диагностика: Протокол проверки заданий</h3>
    <div>
        <a class="list-item-link" href="https://cloud.mail.ru/public/6qjV/vD74roUdi" target="_blank">
            <h4>Протокол проверки заданий</h4>
        </a>
        <app-excel-upload [testCode]="'0204'" [collectorId]="10"></app-excel-upload>
    </div>
</div>

<div class="list-container" *ngIf="accountService.account.UserName && accountService.account.UserName !== '0382'">
    <h3 class="list-header">3-й класс. Метапредметная диагностика: Протокол проверки заданий</h3>
    <div>
        <a class="list-item-link" href="https://cloud.mail.ru/public/ER32/woyL3adTf" target="_blank">
            <h4>Протокол проверки заданий</h4>
        </a>
        <app-excel-upload [testCode]="'0304'" [collectorId]="11"></app-excel-upload>
    </div>
</div>

<!--<div class="list-container">
    <h3 class="list-header">Варианты работ: Метапредметная диагностика</h3>
    <div>
        <a class="list-item-link" href="https://cloud.mail.ru/public/DtHc/uKoGxr9o1" target="_blank">
            <h4>2-й класс: Метапредметная диагностическая работа</h4>
        </a>
        <a class="list-item-link" href="https://cloud.mail.ru/public/MpFK/mEZsg73r8" target="_blank">
            <h4>3-й класс: Метапредметная диагностическая работа</h4>
        </a>
    </div>
</div>-->

<!--<div class="list-container">
    <h3 class="list-header">Критерии оценки: Математика</h3>
    <div>
        <a class="list-item-link" href="https://cloud.mail.ru/public/LWx1/ShgjGvtat" target="_blank">
            <h4>2-й класс: Критерии оценки работ по математике</h4>
        </a>
        <a class="list-item-link" href="https://cloud.mail.ru/public/2MXK/NdoRs4uzc" target="_blank">
            <h4>3-й класс: Критерии оценки работ по математике</h4>
        </a>
    </div>
</div>-->

<div class="list-container">
    <h3 class="list-header">2-й класс. Математика: Протокол проверки заданий</h3>
    <div>
        <a class="list-item-link" href="https://cloud.mail.ru/public/HB5T/jEygksHVD" target="_blank">
            <h4>Протокол проверки заданий</h4>
        </a>
        <app-excel-upload [testCode]="'0202'" [collectorId]="8"></app-excel-upload>
    </div>
</div>

<div class="list-container" *ngIf="accountService.account.UserName && accountService.account.UserName !== '0382'">
    <h3 class="list-header">3-й класс. Математика: Протокол проверки заданий</h3>
    <div>
        <a class="list-item-link" href="https://cloud.mail.ru/public/51JW/m8jUjmQ6v" target="_blank">
            <h4>Протокол проверки заданий</h4>
        </a>
        <app-excel-upload [testCode]="'0302'" [collectorId]="9"></app-excel-upload>
    </div>
</div>

<div class="list-container" *ngIf="true">
    <h3 class="list-header">Вспомогательный материал</h3>
    <div>
        <a class="list-item-link" href="https://cloud.mail.ru/public/Ca4D/Fwva3y6so" target="_blank">
            <h4>2-й класс: Методический материал по проведению диагностической работы</h4>
        </a>
        <a class="list-item-link" href="https://cloud.mail.ru/public/BYpn/X18SL77k4" target="_blank">
            <h4>3-й класс: Методический материал по проведению диагностической работы</h4>
        </a>
    </div>
</div>


