<h3>{{TestName}}: Протоколы проверки заданий</h3>
<hr />
<div>общее количество протоколов: {{protocols.length}}</div>
<div>из них</div>
<div>обработано: {{processedProtocols()}}</div>
<div>не обработано: {{notProcessedProtocols()}}</div>

<div class="table-actions">
    <div>
        <mat-form-field>
            <input #participCodeInput
                   [(ngModel)]="searchText"
                   placeholder="поиск участника..."
                   matInput />
            <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="очистить" (click)="searchText=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field class="class-select">
            <mat-select placeholder="поиск по классу..."
                        [(ngModel)]="searchClass"
                        (selectionChange)="selectionChange()">
                <mat-option [value]="">Все классы</mat-option>
                <mat-option *ngFor="let class of protocols | getClasses"
                            [value]="class.Id">
                    {{ class.Name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>код участника</th>
        <th>фио</th>
        <th>класс</th>
        <th>баллы по заданиям</th>
        <th style="width:295px">действия</th>
    </tr>
    <tr *ngFor="let protocol of protocols | participFilter : searchText | classFilter : searchClass | offset : pageIndex * limitToVal | limitTo : limitToVal; let i = index">
        <td class="text-center">{{i + 1}}</td>
        <td>{{protocol.ParticipId}}</td>
        <td>{{protocol.ParticipFIO}}</td>
        <td class="text-center">{{protocol.ClassName}}</td>
        <td [ngClass]="{'red-cell': !protocol.Marks}">{{protocol.Marks}}</td>
        <td>
            <div class="pull-left">
                <button mat-raised-button 
                        color="primary" 
                        (click)="changeMarks(protocol.ParticipTestId)" 
                        style="width:135.59px">
                    <i class="glyphicon glyphicon-edit"></i> изменить
                </button>
                <button matTooltip="Указать, что участник отсутствовал" 
                        [matTooltipPosition]="'right'" 
                        [disabled]="protocol.Marks === AbsentText" 
                        mat-raised-button 
                        color="warn" 
                        (click)="markAsAbsent(protocol)">
                    <i class="glyphicon glyphicon-header"></i> отсутствовал
                </button>
            </div>
        </td>
    </tr>
</table>

<p *ngIf="isLoading" class="text-center"><i>Загрузка...</i></p>

<p *ngIf="!isLoading && protocols.length === 0" class="text-center"><i>Протоколов нет.</i></p>

<p>
    <app-table-paginator [length]="protocols.length"
                         [pageSizeOptions]="[20, 50, 70]"
                         [(pageSize)]="limitToVal"
                         [(pageIndex)]="pageIndex">
    </app-table-paginator>
</p>