@model Monit95App.ViewModels.Work201630.SelectVM
@{
    ViewBag.Title = "Select";
}
<head>
    <style>
        .divA{
            background-color:aquamarine;
        }
    </style>
</head>
<h2>Региональное исследование «Оценка готовности обучающихся 1-х классов Чеченской Республики к обучению»</h2>
<hr />
<h4>1. Методические рекомендации</h4>
Скачайте ниже по ссылке файл-архив, в котором содержатся:
<ul>
    <li>методические рекомендации;</li>
    <li>презентация.</li>
</ul>
<p><a href="https://cloud.mail.ru/public/3Q7K/3meXYXKWg">АРХИВ</a></p>
<hr />

<h4>2. Электронная форма</h4>
Скачайте ниже по ссылке электронную форму и занесите туда результаты участников.
<p><a href="https://cloud.mail.ru/public/L1YX/xy9EPHqnL">ФОРМА</a></p>
<hr />

<h4>3. Отправка формы</h4>
<div class="@(Model.SendFile ? "hidden":"visible-lg")">
    С помощью кнопки «Выберите файл» выберите заполнению форму, куда Вы уже занесли результаты участников, а затем нажмите «Отправить».
    <div class="class1">
        @using (Html.BeginForm("Upload", "Work201630", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="upload"/><br>
            <input type="submit" value="Отправить">
        }
    </div>
</div>
<div class="@(!Model.SendFile ? "hidden":"visible-lg")">
    <a class="divA">Форма отправлена</a>
</div>

