<br/>
<div *ngIf="particips">
    <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="поиск по фамилии..." />
</div>
<br/>
<div>
    <div style="float:left;margin-top:10px;margin-bottom:10px">Не добавленных данных: {{countOfNotEnteredData}}</div>
    <div style="float:right" class="checkbox">
        <label>
            <input type="checkbox" [checked]="showOnlyParticipsWithoutDetails" (change)="showOnlyParticipsWithoutDetails = !showOnlyParticipsWithoutDetails"/>
            Показать только незаполненные
        </label>
    </div>
    <div style="clear:both"></div>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Код</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчеcтво</th>
            <th>Предмет</th>
            <th>Дата рождения</th>
            <th>Классы</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let particip of particips | participFilter: searchText | participsWithoutDetails: showOnlyParticipsWithoutDetails">
            <td>{{particip.participCode}}</td>
            <td>{{particip.surname}}</td>
            <td>{{particip.name}}</td>
            <td>{{particip.secondName}}</td>
            <td>{{particip.subjectName}}</td>
            <td [ngClass]="{'red' : !particip.classNumbers}">{{particip.birthday?.toLocaleDateString('ru-RU')}}</td>
            <td [ngClass]="{'red' : !particip.classNumbers}">{{particip.classNumbers}}</td>
            <td><a class="glyphicon glyphicon-edit" (click)="modalOpen(particip)"></a></td>
        </tr>
    </tbody>
</table>