<h1>Исследование готовности 1-х классов</h1>
<h2>Добавление нового участника</h2>
<hr />
<form #participForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="surname">Фамилия*</label>
        <input type="text" class="form-control" id="surname" required minlength="4" [(ngModel)]="particip.Surname" #surname="ngModel" name="surname" />
        <div *ngIf="surname.invalid && surname.touched" class="alert alert-danger form-alert">Фамилия должна содержать больше 3-х букв!</div>
    </div>

    <div class="form-group">
        <label for="name">Имя*</label>
        <input type="text" class="form-control" id="name" required minlength="3" [(ngModel)]="particip.Name" #name="ngModel" name="name" />
        <div *ngIf="name.invalid && name.touched" class="alert alert-danger form-alert">Имя должно содержать больше 2-х букв!</div>
    </div>

    <div class="form-group">
        <label for="secondName">Отчество</label>
        <input type="text" class="form-control" id="secondName" [(ngModel)]="particip.SecondName" #secondName="ngModel" name="secondName" />
    </div>
    
    <div class="form-group">
        <label for="documNumber">Номер документа*</label>
        <input type="text" name="documNumber" [(ngModel)]="particip.DocumNumber" id="documNumber" #documNumber="ngModel" class="form-control" required />
        <div *ngIf="documNumber.invalid && documNumber.touched" class="alert alert-danger form-alert">Введите номер документа!</div>
    </div>

    <p class="alert alert-danger conflict-text" *ngIf="isConflict">
        <i class="fa fa-times-circle fa-2x" (click)="isConflict = false"></i>
        такой участник уже добавлен
    </p>

    <hr />
    <div>
        <button type="submit" class="btn btn-success" [disabled]="participForm.invalid">{{actionText}}</button>
        <button type="button" class="btn btn-default" (click)="back()">Отменить</button>
    </div>
</form>

<spinner-view *ngIf="isSending" [caption]="'сведения об участнике отправляются...'"></spinner-view>

<!--<h2 class="text-center text-capitalize" *ngIf="!accountService.isSchool()">
    You aren't allowed to do that!
</h2>-->