<div class="container-fluid custom-modal-container">
    <div *ngIf="isExporting" style="text-align:center;margin-top:30px;" class="row">
        <img style="display:inline-block;width:40px" src="./app/class-particips/Eclipse.gif" />
        <h1 style="display:inline;margin-left:10px;vertical-align:middle;">Добавление участников...</h1>
    </div>
    <div *ngIf="!isExporting">
        <h2>Прочитано: <b>{{exportResults.CountOfReadParticips}}</b></h2>
        <h2>Добавлено: <b>{{exportResults.CountOfAddedParticips}}</b></h2>
        <br />
        <div class="col-xs-12" *ngIf="exportResults.HasRowsWithError">
            <div class="jumbotron">
                <h2>Внимание!</h2>
                <p *ngIf="exportResults.RowNumbersWithError">Данные из строк под номером(-ами): <b>{{exportResults.RowNumbersWithError?.join(', ')}}</b> содержит(-ат) ошибки!</p>
            </div>
        </div>
        <hr />
        <div style="text-align:right">
            <button style="margin-right:20px" class="btn btn-primary" (click)="dialog.close()">Закрыть</button>
        </div>
    </div>
    <br />
</div>