<span defaultOverlayTarget></span>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a routerLink="/particips" routerLinkActive="active">Участники</a></li>
                    <li *ngIf="userHasAreaRole"><a routerLink="/plan" routerLinkActive="active">Планирование</a></li>
                    <li *ngIf="userHasAreaRole"><a routerLink="/result" routerLinkActive="active">Результаты</a></li>   
                    <li><a style="background-color:#ffeb3b" routerLink="/details" routerLinkActive="active">Дополнить сведения</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">        
        <router-outlet></router-outlet>
    </div>
</div>