<span defaultOverlayTarget></span>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a routerLink="/rsurparticip" routerLinkActive="active">Участники</a></li>
                    <!--<li *ngIf="isAreaRole"><a routerLink="/plan" routerLinkActive="active">Планирование</a></li>
                    <li *ngIf="isAreaRole"><a routerLink="/result" routerLinkActive="active">Результаты</a></li>-->                       
                    <!--<li *ngIf="isCokoRole"><a routerLink="/particip-correction" routerLinkActive="active">Коррекции</a></li>-->
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">        
        <!--<router-outlet (activate)="onActivate($event)"></router-outlet>-->
        <router-outlet></router-outlet>
    </div>
</div>