@import '../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

*{
    outline: none !important;
}

th {
    text-align: center;
    vertical-align: middle;
}

td {
    vertical-align: middle;
}

label{
    font-weight: normal !important;
}

.list-container {
    margin-top: 50px;
}

.list-item-link {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px 23px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    border: 1px solid transparent;
    transition: all .3s;
}

.list-item-link:hover {
    text-decoration: none;
    z-index: 10;
    border-color: #2b85e7;
    box-shadow: 0 8px 8px rgba(1,67,163,.24), 0 0 8px rgba(1,67,163,.12), 0 6px 18px rgba(43,133,231,.12);
    transform: translateY(-2px);
    color: black;
}

.list-item-link__disabled {
    display: block;
    text-decoration: none;
    color: gray;
    cursor: default;
    padding: 5px 23px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    border: 1px solid transparent;
}

.list-item-link__disabled:hover{
    text-decoration:none;
    color:gray;
}

.warn-border:hover {
    border-color: red;
    box-shadow: 0 8px 8px #ff00002e, 0 0 8px #ff00005c, 0 6px 18px #ff000042;
}

.list-item-link:link {
    text-decoration: none;
    color: black;
}

.list-item-description {
    color: black;
}


.list-header {
    padding: 15px 23px;
    background-color: #eceff1;
    margin: 0;
}

.list-container {
    border: 1px solid lightgray;
    box-shadow: 0 0 5px lightgray;
}

.red-cell {
    background-color: #ff6055;
}

.bold-text{
    font-weight: bold;
}