<h2>РСУР: Главное меню</h2>
<div *ngIf="isLoading"><img style="margin-top:20px" height="100" class="center-block" src="/progress.gif" /></div>
<div *ngIf="!isLoading" class="panel panel-default">
    <div *ngIf="isArea()" class="panel-body">
        <p>участники</p>
        <ul class="list-group">
            <li class="list-group-item"><a routerLink="/rsur/particips"><b>Список участников</b></a></li>                        
        </ul>
    </div>
    <div class="panel-body">
        <p>вспомогательный материал</p>
        <ul class="list-group">
            <li class="list-group-item"><a target="_blank" href="https://cloud.mail.ru/public/E6sR/WAFY5mpEu"><b>Спецификации КИМ</b></a></li>            
            <li *ngIf="false" class="list-group-item"><a target="_blank" href="https://cloud.mail.ru/public/H1cj/bQbLoHicw"><b>Демо-версии КИМ</b></a></li>            
            <li class="list-group-item"><a target="_blank" href="https://cloud.mail.ru/public/Mzu7/N3yRJLLzp"><b>Рекомендации и материалы диагностики «Октябрь-2017»</b></a></li>            
        </ul>
    </div>  
    
    <div *ngIf="0==1" class="panel-body">
        <p>диагностики</p>
        <ul class="list-group">
            <li class="list-group-item"><a routerLink="/rsur/test">«Октябрь-2017»</a></li>           
        </ul>
    </div>      

    <!--<div *ngIf="isRsurParticip()" class="panel-body">
        <ul class="list-group">
            <li class="list-group-item"><a routerLink="/rsur/report/{{account.UserName}}">Результаты диагностики</a></li>
        </ul>
    </div>-->

    <div *ngIf="isArea() || isSchool() || isRsurParticip()" class="panel-body">
        <p>отчеты</p>
        <ul class="list-group">
            <li class="list-group-item"><a routerLink="/rsur/results-list"><b>Результаты диагностики «Октябрь-2017»</b></a></li>
            <li *ngIf="isArea() && account.UserName !== '206'" class="list-group-item"><a routerLink="/rsur/ratings"><b>Рейтинги</b></a></li>
            <li *ngIf="isSchool() || isArea()" class="list-group-item"><a routerLink="/rsur/seminar-reports"><b>Отчеты по семинарам</b></a></li>
        </ul>
    </div>    
</div>