<h2>Диагностика учебных достижений 1, 2 и 3 классы: главное меню</h2>

<div class="list-container" *ngIf="true">
    <h3 class="list-header">Математика</h3>
    <div>

        <a class="list-item-link" href="https://cloud.mail.ru/public/BXQf/RQM8dz6wT" target="_blank">
            <h4><b>1 класс: Критерии оценивания</b></h4>
        </a>
        <a class="list-item-link" href="https://cloud.mail.ru/public/E3fi/NyEMmqLhW" target="_blank">
            <h4><b>2 класс: Критерии оценивания</b></h4>
        </a>
        <a class="list-item-link" href="https://cloud.mail.ru/public/K5Dh/PpcT2Xw1T" target="_blank">
            <h4><b>3 класс: Критерии оценивания</b></h4>
        </a>
        <a class="list-item-link" routerLink="/one-two-three/protocols/2034">
            <h4><b>1 класс: Протоколы проверки заданий</b></h4>
        </a>
        <a class="list-item-link" routerLink="/one-two-three/protocols/2037">
            <h4><b>2 класс: Протоколы проверки заданий</b></h4>
        </a>
        <a class="list-item-link" routerLink="/one-two-three/protocols/2040">
            <h4><b>3 класс: Протоколы проверки заданий</b></h4>
        </a>
    </div>
</div>

<div class="list-container" *ngIf="true">
    <h3 class="list-header">Русский язык</h3>
    <div>

        <a class="list-item-link" href="https://cloud.mail.ru/public/7GZF/RhoVshYuK" target="_blank">
            <h4>1 класс: Критерии оценивания</h4>
        </a>
        <a class="list-item-link" href="https://cloud.mail.ru/public/GGz4/Kdf4R9R2k" target="_blank">
            <h4>2 класс: Критерии оценивания</h4>
        </a>
        <a class="list-item-link" href="https://cloud.mail.ru/public/Gz6M/mSFUuNqKS" target="_blank">
            <h4>3 класс: Критерии оценивания</h4>
        </a>
        <a class="list-item-link" routerLink="/one-two-three/protocols/2033">
            <h4>1 класс: Протоколы проверки заданий</h4>
        </a>
        <a class="list-item-link" routerLink="/one-two-three/protocols/2036">
            <h4>2 класс: Протоколы проверки заданий</h4>
        </a>
        <a class="list-item-link" routerLink="/one-two-three/protocols/2039">
            <h4>3 класс: Протоколы проверки заданий</h4>
        </a>
    </div>
</div>

<div class="list-container">
    <h3 class="list-header">Вспомогательный материал</h3>
    <div>
        <a class="list-item-link" href="https://cloud.mail.ru/public/A9id/QWNChM749" target="_blank">
            <h4>Методический материал по проведению диагностики учебных достижений 1, 2 и 3 классов</h4>
        </a>
    </div>
</div>

<div class="list-container" *ngIf="false">
    <h3 class="list-header">Участники</h3>
    <div>
        <a class="list-item-link" routerLink="/one-two-three/particips/list">
            <h4>Список участников</h4>
        </a>
    </div>
</div>