<h2>«Я сдам Обществознание!»: главное меню</h2>

<!-- Общее -->
<div class="list-container" *ngIf="true">
    <h3 class="list-header">Общее</h3>
    <div>
        <a class="list-item-link" routerLink="/particips/society/list" *ngIf="false">
            <div>
                <h4>Список участников</h4>
            </div>
        </a>
        <a *ngIf="timeIsCome" class="list-item-link" href="/file/iTakeSociety/102019/tasks/ОБЩ.rar" download="варианты_работ.rar">
            <div>
                <h4><b>Варианты работ</b></h4>
            </div>
        </a>
        <a *ngIf="false" class="list-item-link" href="/file/iTakeEge/tasks/ОБ/Содержание работы.docx" download="Содержание работы.docx">
            <div>
                <h4><b>Содержание работы</b></h4>
            </div>
        </a>
        <a *ngIf="false" class="list-item-link" href="/file/iTakeEge/tasks/ОБ/инструкция.docx" download="инструкция.docx">
            <div>
                <h4><b>Инструкция</b></h4>
            </div>
        </a>
        <a *ngIf="false" class="list-item-link" routerLink="/particips/protocols/2048">
            <div>
                <h4><b>Заполнение протоколов проверки заданий</b></h4>
            </div>
        </a>
    </div>
</div>

<div class="list-container" *ngIf="false">
    <h3 class="list-header">Результаты</h3>
    <a class="list-item-link" style="cursor:pointer" (click)="downloadProtocol()">
        <h4><b>Скачать протокол проверки результатов</b></h4>
    </a>
    <div>
        <a class="list-item-link" routerLink="/particips/reports/20">
            <h4><b>Индивидуальные карты участников</b></h4>
        </a>
        <a class="list-item-link" target="_blank" href="http://monit95.ru/files">
            <h4><b>Хранилище видеоматериалов</b></h4>
        </a>
    </div>
</div>