<h3>{{protocol?.Surname}} {{protocol?.Name}} {{protocol?.SecondName}}</h3>

<form *ngIf="protocol" #marksForm="ngForm">
    <div *ngFor="let question of protocol.QuestionResultsList; let i = index" class="control-wrapper">
        <label>{{question.Name}}:</label>
        <input class="form-control" 
               [(ngModel)]="question.CurrentMark"
               (keydown.enter)="enterKeyHandler(i, $event)"
               id="mark{{i}}"
               #mark{{i}}="ngModel"
               name="mark{{i}}" 
               type="number" 
               step="{{question.Step}}" 
               max="{{question.MaxMark}}" 
               min="0" 
               required
               [appMark]="question"/>
        <div class="alert alert-warning" *ngIf="marksForm.controls['mark' + i]?.invalid && (marksForm.controls['mark' + i]?.dirty || marksForm.controls['mark' + i]?.touched)">

            <div *ngIf="marksForm.controls['mark' + i].errors.required">
                Введите оценку
            </div>

            <div *ngIf="marksForm.controls['mark' + i].errors.markValidate">
                {{ marksForm.controls['mark' + i].errors.markValidate.value }}
            </div>
        </div>
    </div>
    <br />
    <p>
        <button id="submitBtn"
                type="button"
                (click)="send()"
                mat-raised-button
                color="primary"
                [disabled]="marksSending">
            Сохранить
        </button>

        <button type="button"
                mat-raised-button
                color="warn"
                (click)="cancel()">
            Отмена
        </button>
    </p>
</form>