
@{
    ViewBag.Title = "FillParticips";
}

<h3>Список учащихся 1-3 классов</h3>

<body class="container" ng-app="collectorMarksApp" ng-controller="FillParticipsController" ng-init="getParticips('@User.Identity.Name')">
    <table class="table table-bordered">
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th width="120">Класс</th>
        </tr>
        <tr ng-repeat="particip in particips | orderBy:'ClassId'">
            <td>{{particip.Surname}}</td>
            <td>{{particip.Name}}</td>
            <td>{{particip.SecondName}}</td>
            <td>{{particip.ClassName}}</td>
        </tr>
    </table>
    <hr />
    <div style="text-align:right">
        <a class="btn btn-default" href="" ng-click="showParticipModalDialog('@User.Identity.Name', classes)">Добавить</a>
    </div>
</body>

