
@{
    ViewBag.Title = "Index";
}

<body ng-app="oneTwoThreeApp" ng-controller="CollectorMarksCtrl" ng-init="getParticips('@User.Identity.Name')">
    <h3>Оценки</h3>
    <div class="container">
        <table class="table table-bordered">
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Класс</th>
                <th>Баллы по заданиям</th>
                <th></th>
            </tr>
            <tr ng-repeat="particip in particips | orderBy:['ClassName','Surname']">
                <td>{{particip.Surname}}</td>
                <td>{{particip.Name}}</td>
                <td>{{particip.SecondName}}</td>
                <td>{{particip.ClassName}}</td>
                <td>{{getMarksObjectById(particip.Id).split('|')[0]}}</td>
                <td><a class="btn btn-default" href="" ng-click="changeMarks(particip, getMarksObjectById(particip.Id))">Изменить</a></td>
            </tr>
        </table>
    </div>
</body>

