
@{
    ViewBag.Title = "Index";
}

<body ng-app="collectorMarksApp" ng-controller="CollectorMarksCtrl">
    <h3>Оценки</h3>
    <div class="container-fluid">
        
        <select ng-model="class">
            <option value="{{class.Id}}" ng-repeat="class in classes">{{class.Name}}</option>
        </select>

        <form ng-submit="sendMarks()">
            <table class="table table-bordered">
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th colspan="10">Баллы за задания</th>
                </tr>
                <tr ng-repeat="student in Students">
                    <td>{{student.Surname}}</td>
                    <td>{{student.Name}}</td>
                    <td>{{student.SecondName}}</td>
                    <td ng-repeat="exercise in student.Exercises">{{exercise.CurrentMark}}</td>
                </tr>
                <tr>
                    <td><input class="form-control" type="text" ng-model="Surname" /></td>
                    <td><input class="form-control" type="text" ng-model="Name" /></td>
                    <td><input class="form-control" type="text" ng-model="SecondName" /></td>

                    <td ng-repeat="exercise in exercises"><input class="form-control" size="1" type="text" ng-model="exercise.CurrentMark" /></td>

                </tr>
            </table>
            
            <input class="form-control" type="submit" value="submit" />{{errorMessage}}
        </form>
        <button class="btn btn-default" ng-click="pushMarks('@User.Identity.Name')">Push</button>
    </div>
</body>

