<h1>РСУР</h1>
<h3>{{rsurParticip.TestNumberCodeWithName}}. Протокол проверки заданий участника</h3>
<hr />
<h4>Код участника: {{rsurParticip.Code}}</h4>
<div> 
    <form #marksForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="checkbox">
            <label>
                <input name="absentStatus" #absentStatus="ngModel" (change)="setAbsentStatus()" [(ngModel)]="isAbsent" type="checkbox"> Отсутствовал(-а) на диагностике
            </label>
        </div>
        <div> <!--*ngIf="!isAbsent">-->
            <div *ngFor="let markName of markNames; let i = index" class="form-inline">
                <label>{{markName}}</label>
                <input style="height:20px; width:20px; text-align:center" (keyup)="onMarkChanged($event)" size="1" class="markInput" [(ngModel)]="marks[i]" name="mark{{i}}" #mark{{i}}="ngModel" required />
            </div>
        </div>
        <hr />
        <div class="pull-left">
            <input type="submit" class="btn btn-success" id="submitBtn" value="Сохранить" [disabled]="marksForm.invalid || marksForm.pristine"/>
            <a class="btn btn-default" (click)="cancel()">Отмена</a>
        </div>
    </form>
</div>