<div class="container" style="width:100%">
    <h2>Добавить ученика</h2>
    <br/>
    <form ng-submit="save()">
        <table class="table table-bordered">
            <tr style="background-color:lightgray">
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Класс</th>
            </tr>
            <tr>
                <td><input ng-model="surname" class="form-control" required /></td>
                <td><input ng-model="name" class="form-control" required /></td>
                <td><input ng-model="secondName" class="form-control" required /></td>
                <td>
                    <select required class="form-control select-for-classes" ng-model="className" >
                        <option></option>
                        <option value="{{class.Name}}" ng-repeat="class in classes">{{class.Name}}</option>
                    </select>
                </td>
            </tr>
        </table>
        <hr />
        <div style="text-align:right">
            <span>{{statusText}}</span>
            <input ng-disabled="saveBtnActive" type="submit" class="btn btn-success" href="" value="Сохранить"/>
            <a class="btn btn-default btn-in-horizon" href="" ng-click="cancel()">Отменить</a>
        </div>
    </form>
    <br/>
</div>