<body>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h4>Диагностические работы по русскому языку, математике и чтению в 1, 2 и 3 классах</h4>
        </div>
        <div class="panel-body">
            <p>0. Ознакомление</p>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="https://chat.whatsapp.com/L4aVoCnmVAX58u1DVRULTb"><b>Ссылка для добавления в группу техподдержке (WhatsApp): https://chat.whatsapp.com/L4aVoCnmVAX58u1DVRULTb</b></a>
                    <br />
                    <img height="100" src="/Images/whatsApp_tech_support_1class.jpg"/>
                </li>
                <li class="list-group-item">
                    <a href="https://cloud.mail.ru/public/CP5c/wULj3id5p">Демо-версии, описание работ, памятка учителю</a>
                </li>
            </ul>
        </div>
        <!--<div class="panel-body">
            <p>1. Список участников</p>
            <ul class="list-group">
                <li class="list-group-item"><a href="#/partiplist"><b>Формирование списка участников (учащихся) 1, 2 и 3 классов</b><i> (срок до 26.04.2017 включительно)</i></a></li>
            </ul>
        </div>-->
        <div class="panel-body">
            <p>2. Русский язык</p>
            <ul class="list-group">
                <li class="list-group-item"> <a href="https://cloud.mail.ru/public/MZ2x/L7eRT28sK">КИМ</a></li>
                <li class="list-group-item"> <a href="https://cloud.mail.ru/public/GVum/TpTXxQCMn">Ключи</a></li>
                <!--<li class="list-group-item"> <a href="#/partipmarks"><b>Заполнение электронного протокола</b><i> (доступно до 25.04.2017 включительно)</i></a></li>-->
            </ul>
        </div>
        <div class="panel-body">
            <p>3. Математика</p>
            <ul class="list-group">
                <li class="list-group-item"> <a href="https://cloud.mail.ru/public/JcrJ/NtQh3md1P"><b>КИМ</b></a></li>
                <li class="list-group-item"> <a href="https://cloud.mail.ru/public/EzxQ/PAJWpzPZY"><b>Ключи</b></a></li>
                <li class="list-group-item"> <a href="#/partipmarks"><b>Заполнение электронного протокола</b><i> (доступно до 02.05.2017 включительно)</i></a></li>
                <!--<li class="list-group-item"> <a href="#">Заполнение электронного протокола</a></li>-->
                
            </ul>
        </div>
        <div class="panel-body">
            <p>4. Чтение</p>
            <ul class="list-group">
                <li class="list-group-item"> <a href="#">КИМ</a></li>
                <li class="list-group-item"> <a href="#">Ключи</a></li>
            </ul>
        </div>
    </div>
</body>