<body>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h4>Диагностические работы по русскому языку, математике и чтению в 1, 2 и 3 классах</h4>
        </div>
        <div class="panel-body">
            <p>0. Ознакомление</p>
            <ul class="list-group">

                <li class="list-group-item">
                    <a href="https://cloud.mail.ru/public/CP5c/wULj3id5p"><b>Демо-версии, описание работ, памятка учителю</b></a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <p>1. Список участников</p>
            <ul class="list-group">
                <li class="list-group-item"><a href="#/partiplist">Формирование списка участников (учащихся) 1, 2 и 3 классов</a> </li>
            </ul>
        </div>
        <div class="panel-body">
            <p>2. Русский язык</p>
            <ul class="list-group">
                <li class="list-group-item"> <a href="#">КИМ</a></li>
                <li class="list-group-item"> <a href="#">Ключи</a></li>
                <li class="list-group-item"> <a href="#">Занесение баллов по заданиям</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <p>3. Математика</p>
            <ul class="list-group">
                <li class="list-group-item"> <a href="#">КИМ</a></li>
                <li class="list-group-item"> <a href="#">Ключи</a></li>
                <li class="list-group-item"> <a href="#">Занесение баллов по заданиям</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <p>4. Чтение</p>
            <ul class="list-group">
                <li class="list-group-item"> <a href="#">КИМ</a></li>
                <li class="list-group-item"> <a href="#">Ключи</a></li>
            </ul>
        </div>
    </div>
</body>