<h3>Оценки</h3>

<body class="container">
    <br/>
    <table class="table table-bordered">
        <tr>
            <th>№</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Класс</th>
            <th>Баллы по заданиям</th>
            <th></th>
        </tr>
        <tr ng-repeat="particip in particips | orderBy:['ClassName','Surname']">
            <td align="right">{{$index+1}}</td>
            <td>{{particip.Surname}}</td>
            <td>{{particip.Name}}</td>
            <td>{{particip.SecondName}}</td>
            <td>{{particip.ClassName}}</td>
            <td>{{getMarksObjectByParticipId(particip.Id).Marks}}</td>
            <td><a class="btn btn-default" href="" ng-click="changeMarks(particip, getMarksObjectByParticipId(particip.Id))">Изменить</a></td>
        </tr>
    </table>
</body>