<h3 align="center">ПРОТОКОЛ<br/>проверки диагностических работ в 1, 2 и 3 классах по русскому языку в образовательной организации</h3>

<body class="container">
    <br/>
    <form class="form-inline">
        <div class="form-group">
            <label>
                Номер класса:    
                <select class="form-control" ng-model="searchByClassName">
                    <option selected value="">Все</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </label>
            <input style="float:right;margin-left:10px" placeholder="Поиск..." class="form-control" ng-model="search" />
            <div style="clear:both"></div>
        </div>
    </form>
    <hr />
    <div>Недобавленных результатов: {{countOfEmptyMarks}}</div>
    <table class="table table-bordered">
        <tr>
            <th>№</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Класс</th>
            <th>Баллы по заданиям</th>
            <th></th>
        </tr>
        <tr ng-repeat="particip in particips | orderBy:['ClassName','Surname'] | filter:search | filter:{ClassName:searchByClassName}">
            <td align="right">{{$index+1}}</td>
            <td>{{particip.Surname}}</td>
            <td>{{particip.Name}}</td>
            <td>{{particip.SecondName}}</td>
            <td>{{particip.ClassName}}</td>
            <td ng-class="{yell:Marks[particip.Id].substring(0, 1)=='X', red:Marks[particip.Id]==undefined}">{{Marks[particip.Id]}}</td>
            <td><a class="btn btn-default" href="" ng-click="changeMarks(particip, getMarksObjectByParticipId(particip.Id), maxRates)">Изменить</a></td>
        </tr>
    </table>
</body>