<div class="panel panel-default" ng-init="i($rootScope.username)">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h4>«Даты. Основные факты, процессы и явления», срез № 1</h4>
    </div>
    <div class="panel-body">
        <p>1. Проведение</p>
        <ul class="list-group">
            <li class="list-group-item"><a href="https://cloud.mail.ru/public/CDni/q2TG7CKyZ"><b>Бланк ответов</b></a></li>
            <li class="list-group-item"><a href="https://cloud.mail.ru/public/LaCr/wbdEEGUCv"><b>КИМ</b></a></li>          
            <li class="list-group-item"><a href="https://cloud.mail.ru/public/GhWx/bn9GnxmXg/{{$rootScope.username}}/ис_1_{{$rootScope.username}}_список уч..pdf"><b>Cписок участников</b></a></li>                          
        </ul>
    </div>
    <div class="panel-body">
        <p>2. Проверка</p>
        <ul class="list-group">            
            <!--<li class="list-group-item"><a href="https://cloud.mail.ru/public/9K5z/bLh1fmwFb/ма_1_ключи.zip"><b>Ключи</b></a></li>-->
            <!--<li class="list-group-item"><a href="#">Ключи</a></li>-->
        </ul>
    </div>
    <div class="panel-body">
        <p>3. Заполнение и отправка протокола</p>
        <ul class="list-group">
            <!--<li class="list-group-item"><a href="https://cloud.mail.ru/public/9K5z/bLh1fmwFb/ма_1_{{$rootScope.username}}_протокол.xlsx"><b>Протокол</b></a></li>-->
            <!--<li class="list-group-item"><a href="#">Протокол</a></li>-->
            <li>
                <div>
                    <label class="btn btn-primary btn-sm">
                        Отправить&hellip;
                        <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" style="display: none;"
                               onchange="angular.element(this).scope().uploadFile(this)">
                    </label>
                </div>
            </li>

        </ul>
    </div>
</div>