<body>    
    <div class="panel panel-default">
        
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>Экзаменационный материал</h4></div>
        <div class="panel-body">
            <!--<p>Скачайте данный экзаменационный материал и распечатайте</p>-->
            <p><i>Экзаменационный материал будет доступен на данной странице в день экзамена.</i></p>
        </div>
        <!-- List group -->
        <!--<ul class="list-group">
            <b>
                <li class="list-group-item"><a href="#">Бланк ответов</a></li>
                <li class="list-group-item"><a href="#">Орфография, 22.02.2017</a></li>
                <li class="list-group-item"><a href="#">Алгебра, 24.02.2017</a></li>
            </b>
        </ul>-->
    </div>
</body>