    <h2>Исследование готовности 1-х классов</h2>
    <h3>План работы</h3>
    <div class="panel panel-default">        
        <div class="panel-heading">
            <!--<h4>Исследование готовности 1-х классов</h4>-->
        </div>

        <div class="panel-body">
            <p>1. Подготовка и проведение</p>
            <ul class="list-group">
                <li class="list-group-item">
                    <a target="_blank" href="http://bit.ly/2fyHxJq"><b>Ссылка на группу техподдержки (Telegram): http://bit.ly/2fyHxJq</b></a>
                    <!--<br />-->
                    <!--<img height="100" src="/Images/whatsApp_tech_support_1class.jpg"/>-->
                </li>
                <li class="list-group-item">
                    <a target="_blank" href="https://cloud.mail.ru/public/95sb/Ci5eiExjJ"><b>Материал (методические рекомендации, регламент, приказ)</b></a>
                </li>
                <!--<li class="list-group-item"><a routerLink="/class-particips/list"><b>Формирование списка участников (учащихся) 1 классов</b></a></li>-->                
                <li class="list-group-item">Формирование списка участников (учащихся) 1 классов<i> (окончено)</i></li>                
            </ul>
        </div>
        
        <div class="panel-body">
            <p>2. Протокол проверки заданий</p>
            <ul class="list-group">
                <!--<li class="list-group-item"><a routerLink="/class-particips/marks"><b>Заполнение протокола проверки заданий</b><i> (доступно 26-29 сентября)</i></a></li>-->                
                <li class="list-group-item">Заполнение протокола проверки заданий <i>(окончено)</i></li>                                
            </ul>
        </div>
        <div class="panel-body">
            <p>3. Результаты</p>
            <ul class="list-group">
                <li class="list-group-item">Результаты исследование можно будет скачать 09.10.2017 г.</li>                   
            </ul>
        </div>
        
        <!--<div class="panel-body">
            <p>3. Результаты</p>
            <ul class="list-group">
                <li class="list-group-item">
                    Протокол проверки результатов можно скачать в разделе
                    <a href="/Report/Report"><b>«Файлы»</b></a>
                </li>
            </ul>
        </div>-->

        <!--<div class="panel-body">
            <p>1. Список участников</p>
            <ul class="list-group">
                <li class="list-group-item"><a routerLink="/class-particips/list"><b>Формирование списка участников (учащихся) 1 классов</b><i> (срок до 26.04.2017 включительно)</i></a></li>
            </ul>
        </div>-->

        <!--<div class="panel-body">
            <p>2. Материал</p>
            <ul class="list-group">
                <li class="list-group-item"> <a href="https://cloud.mail.ru/public/MZ2x/L7eRT28sK">КИМ</a></li>
                <li class="list-group-item"> <a href="https://cloud.mail.ru/public/GVum/TpTXxQCMn">Ключи</a></li>
                <li class="list-group-item"> <a href="#/partipmarks"><b>Заполнение электронного протокола</b><i> (доступно до 25.04.2017 включительно)</i></a></li>
            </ul>
        </div>-->       

        
    </div>