<h1>Сбор информации об учащихся 1-х классов</h1>
<hr />
<div *ngIf="isLoading">Загрузка...</div>
<div *ngIf="!isLoading">
    <div style="display:flex;flex-direction:row;justify-content:space-between">
        <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Поиск участника..."/>

        <div class="pull-right">
            <!--<button class="btn btn-default" (click)="addClassParticip()">Добавить ученика...</button>-->
            <button class="btn btn-default" routerLink="/class-particips/upload-excel">
                <i class="fa fa-file-excel-o fa-lg"></i>
                 Добавить из .xlsx...
            </button>
            <!--<button class="btn btn-primary" routerLink="/class-particips/marks">Перейти к заполнению оценок</button>-->
        </div>
    </div>
    <br />
    <div>
        <button style="position:fixed;left:80%;top:80%;color:white; background-color:green; z-index:10; font-size:x-large" md-fab color="primary" (click)="addClassParticip()">+</button>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Класс</th>
            <th>Дата рождения</th>
            <th>Посещал ДОО</th>
            <th width="1">Изменить</th>
            <th width="1">Удалить</th>
        </tr>
        <tr *ngFor="let particip of classParticips | participFilter : searchText; let i = index">
            <td>{{particip.Surname}}</td>
            <td>{{particip.Name}}</td>
            <td>{{particip.SecondName}}</td>
            <td>{{particip.ClassName}}</td>
            <td>{{particip.Birthday?.toLocaleDateString('ru-RU')}}</td>
            <td><span *ngIf="particip.WasDoo">Да</span><span *ngIf="!particip.WasDoo">Нет</span></td>
            <td><a class="glyphicon glyphicon-edit" (click)="updateClassParticip(particip)"></a></td>
            <td><a class="glyphicon glyphicon-trash" (click)="deleteClassParticip(particip)"></a></td>
        </tr>
    </table>
    <p class="text-center" *ngIf="classParticips?.length === 0">Данные об учениках первых классов отсутсвуют</p>
</div>