<body>
    <div class="panel panel-default">        
        <div class="panel-heading">
            <h4>Исследование готовности 1-х классов</h4>
        </div>

        <div class="panel-body">
            <p>0. Ознакомление</p>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="https://t.me/joinchat/BvRAOEOr7isKD3mXl_i5-w"><b>Ссылка для добавления в группу техподдержке (Telegram): https://t.me/joinchat/BvRAOEOr7isKD3mXl_i5-w</b></a>
                    <!--<br />-->
                    <!--<img height="100" src="/Images/whatsApp_tech_support_1class.jpg"/>-->
                </li>
                <li class="list-group-item">
                    <a target="_blank" href="https://cloud.mail.ru/public/95sb/Ci5eiExjJ">Методические рекомендации, регламент, приказ и т.д.</a>
                </li>
            </ul>
        </div>

        <div class="panel-body">
            <p>1. Список участников</p>
            <ul class="list-group">
                <li class="list-group-item"><a routerLink="/class-particips/list"><b>Формирование списка участников (учащихся) 1 классов</b><i> (срок до 26.04.2017 включительно)</i></a></li>
            </ul>
        </div>

        <!--<div class="panel-body">
            <p>2. Материал</p>
            <ul class="list-group">
                <li class="list-group-item"> <a href="https://cloud.mail.ru/public/MZ2x/L7eRT28sK">КИМ</a></li>
                <li class="list-group-item"> <a href="https://cloud.mail.ru/public/GVum/TpTXxQCMn">Ключи</a></li>
                <li class="list-group-item"> <a href="#/partipmarks"><b>Заполнение электронного протокола</b><i> (доступно до 25.04.2017 включительно)</i></a></li>
            </ul>
        </div>-->       

        <div class="panel-body">
            <p>2. Результаты</p>
            <ul class="list-group">
                <li class="list-group-item">Протокол проверки результатов можно скачать в разделе
                <a href="/Report/Report"><b>«Файлы»</b></a></li>
            </ul>
        </div>
    </div>
</body>