<div class="container-fluid custom-modal-container">
    <div *ngIf="isExporting" style="text-align:center;margin-top:30px;" class="row">
        <img style="display:inline-block;width:40px" src="./app/class-particips/Eclipse.gif" />
        <h1 style="display:inline;margin-left:10px;vertical-align:middle;">Добавление участников...</h1>
    </div>
    <div *ngIf="!isExporting">
        <h2 style="text-align:center"><b>{{exportResults.CountOfAddedParticips}}</b> участников добавлено успешно!</h2>
        <br />
        <div class="col-xs-12" *ngIf="exportResults.HasRowsWithError">
            <div class="jumbotron">
                <h2>Внимание!</h2>
                <p>Данные из строк <b>{{exportResults.RowNumbersWithError?.join(', ')}}</b> содержат ошибки и не были добавлены в базу!</p>
                <div *ngIf="exportResults.RepetitionNames">
                    <p>Обнаружена попытка добавления уже имеющихся в базе участников.</p>
                    <a style="text-decoration:underline;cursor:pointer" data-toggle="collapse" data-target="#repetitions">Показать повторяющиеся данные <span class="caret"></span></a>
                    <div id="repetitions" class="collapse">
                        <p *ngFor="let repetition of exportResults.RepetitionNames">{{repetition}}</p>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div style="text-align:right">
            <button style="margin-right:20px" class="btn btn-primary" (click)="dialog.close()">Закрыть</button>
        </div>
    </div>
    <br />
</div>