<head>
    <script src="~/Scripts/smart-table.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/contact.js"></script>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>
<body ng-app="LearnerModule">
    <div ng-controller="LearnerCtrl" class="container-fluid">
        <table ng-cloak class="table table-bordered" st-safe-src="learnerData" st-table="learnerData2">
            <thead>
                <tr>
                    <th hidden="hidden">Id</th>
                    <th st-sort="Surname">Фамилия</th>
                    <th st-sort="Name">Фамилия</th>
                    <th st-sort="Отчество"></th>
                    <th st-sort="Школа"></th>
                    <th st-sort="Район"></th>
                    <th></th>
                </tr>
                <tr>
                    <th colspan="4"><input st-search="" class="form-control" placeholder="global search ..." type="text" /></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in learnerData2">
                    <td style="display:none">{{item.Id}}</td>
                    <td>{{item.Learner.Surname}}</td>
                    <td>{{item.Learner.Name}}</td>
                    <td>{{item.Learner.SeondName}}</td>
                    <td>{{item.SchoolIdWithName}}</td>
                    <td>{{item.AreIdWithName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
