@model IEnumerable<Monit95App.Services.ReportMeta>                   

<body>
    <br />
    <div id="accordion">
        @foreach (var year in Model.Select(x => x.Year).Distinct().OrderByDescending(y => y))
        {
            <h3>@year учебный год</h3>
            <div>
                <table class="table table-striped">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Проект</th>
                            <th>Отчет</th>
                            <th>Учебный год</th>
                        </tr>
                    </thead>
                    @foreach (var report in Model.Where(x => x.Year == year).OrderByDescending(x => x.Id))
                    {
                        <tr>
                            <td>@report.ProjectName</td>
                            <td>
                                <a style="color:royalblue" target="_blank" href=@report.Link>@report.Name</a>                                
                            </td>
                            <td>@report.Year</td>
                        </tr>
                    }
                </table>
            </div>
        }
    </div>
</body>

<script>
    $(function () {
        $("#accordion").accordion({
            collapsible: true
        });
    });
</script>