<h2>Запрос на изменение сведений об учителях</h2>
<hr/>
<div *ngIf="particips">
    <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="поиск по фамилии..." />
</div>
<br/>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчеcтво</th>
            <th>Предмет</th>
            <th>Классы</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let particip of particips | participFilter: searchText | limitTo: 100" [ngClass]="{'unactive-row' : particip.hasRequestToEdit}">
            <td>{{particip.surname}}</td>
            <td>{{particip.name}}</td>
            <td>{{particip.secondName}}</td>
            <td>{{particip.subjectName}}</td>
            <td>{{particip.classNumbers}}</td>
            <td>
                <a *ngIf="!particip.hasRequestToEdit" class="glyphicon glyphicon-edit" (click)="modalOpen(particip)"></a>
                <span *ngIf="particip.hasRequestToEdit">Запрос обрабатывается...</span>
            </td>
        </tr>
    </tbody>
</table>