
<div id="cont">Husain is AWESOME!</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Код</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчеcтво</th>
            <th>День рождения</th>
            <th>Классы</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let particip of particips">
            <td>{{particip.participCode}}</td>
            <td>{{particip.surname}}</td>
            <td>{{particip.name}}</td>
            <td>{{particip.secondName}}</td>
            <td>{{particip.birthday}}</td>
            <td>{{particip.classes}}</td>
            <td><a class="glyphicon glyphicon-edit"></a></td>
        </tr>
    </tbody>
</table>