<div class="page-header">
    <h3>Список участников</h3>
</div>
<div class="panel">
    <div class="form-group">
        <div>
            <div *ngIf="particips" style="display:inline-block;">
                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="поиск по фамилии..." />
            </div>
            <div style="display:inline-block;">                
                <a class="btn btn-default" href="/api/files/rsurParticipLists/{{userName}}" target="_blank">
                    <i class="fa fa-file-excel-o fa-lg"></i> Экспорт
                </a>
            </div>
        </div>
        <br />
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Код</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчеcтво</th>
                    <th>Предмет</th>
                    <th>Редактировать</th>
                    <th>Результаты</th>                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let particip of particips | participFilter: searchText | limitTo: 100">
                    <td>{{particip.ParticipCode}}</td>
                    <td>{{particip.surname.value}}</td>
                    <td>{{particip.Name}}</td>
                    <td>{{particip.SecondName}}</td>
                    <td>{{particip.NsurSubjectName}}</td>
                    <td><a style="cursor:pointer" class="glyphicon glyphicon-edit" (click)="edit(particip)"></a></td>
                    <td>
                        <button type="button" class="btn btn-default" (click)="openModal(particip)">
                            <span class="glyphicon glyphicon-menu-right"></span>запросить
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>