

.cell {
    position: relative;
}

.buttn {
    position: absolute;
    bottom: 3px;
    right: -20%;
}

.yell{
    background-color: orange;
}

.red{
    background-color:red
}

.unactive-row {
    background-color: lightgray;
    color: gray;
}

.redText{
    color: red;
}

.low-grade{
    background-color:orangered;
}

.medium-grade{
    background-color:yellow;
}

.high-grade{
    background-color:lightgreen;
}

.higher-grade{
    background-color:green;
    color: white;
}