<h2>Диагностика учащихся 2-х и 3-х классов: главное меню</h2>

<div class="jumbotron" style="margin-top:25px" *ngIf="false">
    <p>Скачайте электронную форму "Протокол проверки заданий" для соответствующего класса, заполните его и отправьте на сервер.</p>
</div>

<div class="list-container" *ngIf="true">
    <h3 class="list-header">2 класс. Метапредметная диагностика</h3>
    <div>
        <!--<a class="list-item-link" href="/file/2-3/092019/2 class/МТ.rar" download="Метапредмет 2 класс задания.rar" *ngIf="true">
            <h4>Варианты работ</h4>
        </a>
        <a class="list-item-link" href="/file/2-3/092019/2 class/МТ критерии.rar" download="Метапредмет 2 класс критерии.rar" *ngIf="true">
            <h4><b>Критерии оценки</b></h4>
        </a>
        <a class="list-item-link" href="/file/2-3/092019/2 class/МТ 2 класс форма.xlsx" download="Метапредмет 2 класс.xlsx" *ngIf="true">
            <h4><b>Протокол проверки заданий</b></h4>
        </a>
        <app-excel-upload 
            *ngIf="true"
            [collectorFor]="'school'"
            [fileNamePrefix]="'0204'"
            [collectorId]="51"
            [repositoryId]="7"
            [caption]="'Заполненный протокол по метапредметной диагностике - 2 класс'"
            [downloadHref]="'/file/2-3/092019/protocols'"
            [downloadExt]="'xlsx'">
        </app-excel-upload>-->
        <a class="list-item-link" href="/file/2-3/092019/reports/{{accountService.account.UserName}}/2 кл. метапр-ая диаг-ка.xlsx" download="Результаты Метапредмет 2 класс.xlsx" *ngIf="true">
            <h4><b>Результаты исследования</b></h4>
        </a>
    </div>
</div>

<div class="list-container" *ngIf="true">
    <h3 class="list-header">3 класс. Метапредметная диагностика</h3>
    <div>
        <!--<a class="list-item-link" href="/file/2-3/092019/3 class/МТ.rar" download="Метапредмет 3 класс задания.rar" *ngIf="true">
            <h4>Варианты работ</h4>
        </a>
        <a class="list-item-link" href="/file/2-3/092019/3 class/МТ критерии.rar" download="Метапредмет 3 класс критерии.rar" *ngIf="true">
            <h4><b>Критерии оценки</b></h4>
        </a>
        <a class="list-item-link" href="/file/2-3/092019/3 class/МТ 3 класс форма.xlsx" download="Метапредмет 3 класс.xlsx" *ngIf="true">
            <h4><b>Протокол проверки заданий</b></h4>
        </a>
        <app-excel-upload 
            *ngIf="true"
            [collectorFor]="'school'" 
            [fileNamePrefix]="'0304'"
            [collectorId]="52"
            [repositoryId]="7"
            [caption]="'Заполненный протокол по метапредметной диагностике - 3 класс'"
            [downloadHref]="'/file/2-3/092019/protocols'"
            [downloadExt]="'xlsx'">
        </app-excel-upload>-->
        <a class="list-item-link" href="/file/2-3/092019/reports/{{accountService.account.UserName}}/3 кл. метапр-ая диаг-ка.xlsx" download="Результаты Метапредмет 3 класс.xlsx" *ngIf="true">
            <h4><b>Результаты исследования</b></h4>
        </a>
    </div>
</div>

<div class="list-container" *ngIf="true">
    <h3 class="list-header">Вспомогательный материал</h3>
    <div>
        <a class="list-item-link" href="/file/2-3/092019/specsh.rar" download="Спецификация 2-3 классы.rar">
            <h4>Спецификация диагностической работы</h4>
        </a>
        <a class="list-item-link" href="/file/2-3/092019/demo.rar" download="Демоверсия.rar">
            <h4>Демоверсия</h4>
        </a>
    </div>
</div>


