<h2>Диагностика учащихся 2-х и 3-х классов: главное меню</h2>


<div class="list-container" *ngIf="true">
    <h3 class="list-header">Вспомогательный материал</h3>
    <div>
        <a class="list-item-link" href="https://cloud.mail.ru/public/A2ur/6JU6K9zrj" target="_blank">
            <h4><b>График проведения диагностики</b></h4>
        </a>
        <a class="list-item-link" href="https://cloud.mail.ru/public/Ca4D/Fwva3y6so" target="_blank">
            <h4><b>2-й класс: Методический материал по проведению диагностической работы</b></h4>
        </a>
        <a class="list-item-link" href="https://cloud.mail.ru/public/BYpn/X18SL77k4" target="_blank">
            <h4><b>3-й класс: Методический материал по проведению диагностической работы</b></h4>
        </a>
    </div>
</div>


