<form [formGroup]="formGroup" novalidate (ngSubmit)="submit()">
  
    <div class="form-group">
        <label>Фамилия</label>
        <input class="form-control" name="surname" formControlName="surname" />
        <div class="alert alert-danger"
             *ngIf="formGroup.controls['surname'].invalid && formGroup.controls['surname'].touched">
            Не указана фамилия
        </div>
    </div>

    <div class="form-group">
        <label>Email</label>
        <input class="form-control" name="email" formControlName="email" />
        <div class="alert alert-danger"
             *ngIf="formGroup.controls['email'].invalid && formGroup.controls['email'].touched">
            Некорректный email
        </div>
    </div>

    <div class="form-group">
        <label>Педагогический стаж</label>
        <input class="form-control" name="experience" formControlName="experience" />
        <div class="alert alert-danger"
             *ngIf="formGroup.controls['experience'].invalid && formGroup.controls['experience'].touched">
            Педагогический стаж должен быть в пределах 0-60 лет
        </div>
    </div>

    <!--<div class="form-group">
        <label>Телефон</label>
        <input class="form-control" name="phone" formControlName="userPhone" />
    </div>-->
    <div class="form-group">
        <button class="btn btn-default" [disabled]="formGroup.invalid">
            Отправить
        </button>
    </div>
</form>