@model WebApplication1.Models.Evaluation4class2015VM

@{
    ViewBag.Title = "Eval4class2015";
}

<h3>Независимая оценка качества начального общего образования - 2015</h3>
<br />
Страница в разработке...
