<div  style="width:100%" class="container">
    <h3>{{fullName}}</h3>
    <hr/>
    <table class="table table-bordered">
        <tr>
            <th>Предмет</th>
            <th>Баллы</th>
            <th>Уровень</th>
        </tr>
        <tr ng-show="report['RU'].GradeStr">
            <td>Русский язык</td>
            <td>{{report['RU'].Marks}}</td>
            <td ng-class="getColorFromGradeStr(report['RU'].GradeStr)">{{report['RU'].GradeStr}}</td>
        </tr>
        <tr ng-show="report['MA'].GradeStr">
            <td>Математика</td>
            <td>{{report['MA'].Marks}}</td>
            <td ng-class="getColorFromGradeStr(report['MA'].GradeStr)">{{report['MA'].GradeStr}}</td>
        </tr>
        <tr ng-show="report['CHT'].GradeStr">
            <td>Чтение</td>
            <td>{{report['CHT'].Marks}}</td>
            <td ng-class="getColorFromGradeStr(report['CHT'].GradeStr)">{{report['CHT'].GradeStr}}</td>
        </tr>
    </table>
    <hr/>
    <div style="text-align:right">
        <a href="" class="btn btn-default" ng-click="close()">Закрыть</a>
    </div>
    <br/>
</div>