<h2>РСУР</h2>
<h3>Диагностика «Октябрь-2017»</h3>
<div class="panel panel-default">
    
    <div class="panel-body">
        <p>01 - Русский язык: Проведение и проверка</p>
        <ul class="list-group">
            <li class="list-group-item"><a target="_blank" href="https://cloud.mail.ru/public/GhWx/bn9GnxmXg/{{account.UserName}}/{{account.UserName}}_распределение_ру_11.10.2017.xlsx"><b>Распределение</b><i></i></a></li>                        
            <li class="list-group-item"><a><b>Индивидуальные комплекты</b><i> (доступно 10.10.2017)</i></a></li>                        
            <li class="list-group-item"><a><b>Ключи</b><i> (доступно 12.10.2017)</i></a></li>                                    
        </ul>
    </div>
    
    <div class="panel-body">
        <p>01 - Русский язык: Протоколы проверки заданий <i>(доступно 12-13.10.2017)</i></p>
        <ul class="list-group">            
            <li *ngIf="!isArea206()" class="list-group-item progressbar-container"><a routerLink="/rsur/marks/1082"><b>Орфография</b></a>
                <span class="progressbar-item"><ngb-progressbar [showValue]="true" type="info" [value]="getProgressValue(1082)"></ngb-progressbar></span>
            </li>   
            <li *ngIf="isArea206()" class="list-group-item progressbar-container">
                <a routerLink="/rsur/marks/1078"><b>Орфография</b></a>
                <span class="progressbar-item"><ngb-progressbar [showValue]="true" type="info" [value]="getProgressValue(1078)"></ngb-progressbar></span>
            </li>

            <li *ngIf="!isArea206()" class="list-group-item progressbar-container"><a routerLink="/rsur/marks/1079"><b>Пунктуация</b></a>
                <span class="progressbar-item"><ngb-progressbar [showValue]="true" type="info" [value]="getProgressValue(1079)"></ngb-progressbar></span>
            </li>  
            <li *ngIf="isArea206()" class="list-group-item progressbar-container"><a routerLink="/rsur/marks/1079"><b>Пунктуация</b></a>
                <span class="progressbar-item"><ngb-progressbar [showValue]="true" type="info" [value]="getProgressValue(1079)"></ngb-progressbar></span>
            </li>

            <li *ngIf="isArea206()" class="list-group-item"><a><b>Лексика и фразеология && Обработка текстов</b></a></li>      
            <li *ngIf="isArea206()" class="list-group-item"><a><b>Речь && Языковые нормы && Выразительность речи</b></a></li>      
            <!--<li class="list-group-item"><a><b>Ключи</b><i> (доступно 12.10.2017)</i></a></li>-->                        
            <!--<li class="list-group-item"><a><b>Протокол проверки заданий</b> <i>(доступно 12-13.10.2017)</i></a></li>-->    
            <!--<li class="list-group-item"><a [routerLink]="['/rsur/marks-edit/17']"><b>Протокол проверки заданий</b> <i>(доступно 12-13.10.2017)</i></a></li>-->
        </ul>
    </div>

    <div class="panel-body">
        <p>02 - Математика</p>
        <ul class="list-group">
            <li class="list-group-item"><a target="_blank" href="https://cloud.mail.ru/public/GhWx/bn9GnxmXg/{{account.UserName}}/{{account.UserName}}_распределение_ма_16.10.2017.xlsx"><b>Распределение</b><i></i></a></li>                        
            <!--<li class="list-group-item"><a><b>Индивидуальные комплекты</b><i> (доступно 16.10.2017)</i></a></li>                        
            <li class="list-group-item"><a><b>Ключи</b><i> (доступно 17.10.2017)</i></a></li>                        
            <li class="list-group-item"><a><b>Протокол проверки заданий</b> <i>(доступно 17-18.10.2017)</i></a></li>-->                        
        </ul>
    </div>
    
    <div class="panel-body">
        <p>07 - История</p>
        <ul class="list-group">
            <li class="list-group-item"><a><b>Распределение</b><i> (доступно 10.10.2017)</i></a></li>
            <!--<li class="list-group-item"><a><b>Индивидуальные комплекты</b><i> (доступно 19.10.2017)</i></a></li>
            <li class="list-group-item"><a><b>Ключи</b><i> (доступно 20.10.2017)</i></a></li>
            <li class="list-group-item"><a><b>Протокол проверки заданий</b> <i>(доступно 20-21.10.2017)</i></a></li>-->
        </ul>
    </div>

</div>