<h2>РСУР</h2>
<h3>Диагностика «Октябрь-2017»</h3>
<div class="panel panel-default">
    
    <div *ngIf="0 == 1" class="panel-body">
        <p>01 - Русский язык: Проведение и проверка</p>
        <ul class="list-group">
            <li class="list-group-item"><a target="_blank" href="https://cloud.mail.ru/public/GhWx/bn9GnxmXg/{{account.UserName}}/{{account.UserName}}_распределение_ру_11.10.2017.xlsx"><b>Распределение</b><i></i></a></li>                        
            <!--<li class="list-group-item"><a><b>Индивидуальные комплекты</b><i> (доступно 10.10.2017)</i></a></li>-->                        
            <li *ngIf="isArea206()" class="list-group-item"><a target="_blank" href="https://cloud.mail.ru/public/Lft3/VpXCAKhe6"><b>Ключи</b><i></i></a></li>                                    
            <li *ngIf="!isArea206()" class="list-group-item"><a target="_blank" href="https://cloud.mail.ru/public/CMFs/Z5V2j8NZE"><b>Ключи</b><i></i></a></li>                                    
        </ul>
    </div>
    
    <div *ngIf="0 == 1" class="panel-body">
        <p>01 - Русский язык: Протоколы проверки заданий <i>(доступно 12-13.10.2017)</i></p>
        <ul *ngIf="isArea206(); else rsur16" class="list-group">                           
            <li *ngIf="isArea206()" class="list-group-item progressbar-container"><a routerLink="/rsur/tests/1078/protocols"><b>Орфография</b></a>
                <span class="progressbar-item"><ngb-progressbar [showValue]="true" type="info" [value]="getProgressValue(1078)"></ngb-progressbar></span>
            </li>  
            <li class="list-group-item progressbar-container"><a routerLink="/rsur/tests/1079/protocols"><b>Пунктуация</b></a>
                <span class="progressbar-item"><ngb-progressbar [showValue]="true" type="info" [value]="getProgressValue(1079)"></ngb-progressbar></span>
            </li>
            <li class="list-group-item progressbar-container"><a routerLink="/rsur/tests/1080/protocols"><b>Лексика и фразеология && Обработка текстов</b></a>
                <span class="progressbar-item"><ngb-progressbar [showValue]="true" type="info" [value]="getProgressValue(1080)"></ngb-progressbar></span>
            </li>      
            <li class="list-group-item progressbar-container"><a routerLink="/rsur/tests/1081/protocols"><b>Речь && Языковые нормы && Выразительность речи</b></a>
                <span class="progressbar-item"><ngb-progressbar [showValue]="true" type="info" [value]="getProgressValue(1081)"></ngb-progressbar></span>
            </li>                                                             
        </ul>

        <ng-template #rsur16>
            <ul class="list-group">
                <li class="list-group-item progressbar-container">
                    <a routerLink="/rsur/tests/1082/protocols"><b>Орфография</b></a>
                    <span class="progressbar-item"><ngb-progressbar [showValue]="true" type="info" [value]="getProgressValue(1082)"></ngb-progressbar></span>
                </li>
                <li class="list-group-item progressbar-container">
                    <a routerLink="/rsur/tests/1083/protocols"><b>Пунктуация</b></a>
                    <span class="progressbar-item"><ngb-progressbar [showValue]="true" type="info" [value]="getProgressValue(1083)"></ngb-progressbar></span>
                </li>                              
            </ul>
        </ng-template>
        
    </div>    

    <div class="panel-body">
        <p>02 - Математика: Проведение и проверка</p>
        <ul class="list-group">
            <li class="list-group-item"><a target="_blank" href="https://cloud.mail.ru/public/GhWx/bn9GnxmXg/{{account.UserName}}/{{account.UserName}}_распределение_ма_16.10.2017.xlsx"><b>Распределение</b><i></i></a></li>                                
            <li *ngIf="isArea206()" class="list-group-item"><a target="_blank" href="https://cloud.mail.ru/public/AFCK/wVbRNbwj8"><b>Индивидуальные комплекты</b><i></i></a></li>                                                
            <li *ngIf="!isArea206()" class="list-group-item"><a target="_blank" href="https://cloud.mail.ru/public/Dfxo/DuNPvbE4S"><b>Индивидуальные комплекты</b><i></i></a></li>                           
        </ul>
    </div>
    
    <div *ngIf="0 == 1" class="panel-body">
        <p>07 - История</p>
        <ul class="list-group">
            <li class="list-group-item"><a><b>Распределение</b><i> (доступно 12.10.2017)</i></a></li>
            <!--<li class="list-group-item"><a><b>Индивидуальные комплекты</b><i> (доступно 19.10.2017)</i></a></li>
            <li class="list-group-item"><a><b>Ключи</b><i> (доступно 20.10.2017)</i></a></li>
            <li class="list-group-item"><a><b>Протокол проверки заданий</b> <i>(доступно 20-21.10.2017)</i></a></li>-->
        </ul>
    </div>

</div>