.progressbar-container {
    display:flex;
    justify-content:space-between;
}

.progressbar-item{
    margin-left:15px;
    flex-grow:1;
    height: 15px;
}

ngb-progressbar {
    margin-top: 5rem;
}