<h2>Сопоставление</h2>
<hr />
<div style="display:flex; align-items:flex-start">
    <img src="{{protocolScan.Url}}" class="img-responsive img-thumbnail" style="width:50%" />
    <div style="display:inline-block; margin-left:20px">
        <form #marksForm="ngForm" (ngSubmit)="onSubmit()">
            <p>
                <label>Введите код участника: </label>
                <input style="width:200px" class="form-control" type="text" name="code" [(ngModel)]="rsurParticipCode" #code="ngModel" required/>
            </p>
            <div>
                <div *ngFor="let markName of markNames; let i = index" class="form-inline">
                    <label style="width:40px">{{markName}}</label>
                    <input style="height:20px; width:20px; text-align:center" (keyup)="onMarkChanged($event)" size="1" class="markInput" [(ngModel)]="marks[i]" name="mark{{i}}" #mark{{i}}="ngModel" required />
                </div>
            </div>
            <hr />
            <div class="pull-left">
                <input type="submit" class="btn btn-success" id="submitBtn" value="Сохранить" />
                <input type="submit" class="btn btn-success" id="submitBtn" value="Save & Next" [disabled]="marksForm.invalid || marksForm.pristine || protocolScan.StillHasScans" />
                <a class="btn btn-default" (click)="cancel()">Отмена</a>
            </div>
        </form>
    </div>
</div>